<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/dk</string>
						<key>title</key>
						<string>Apple Danmark</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/dk</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mac.com/</string>
						<key>title</key>
						<string>.Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.dk/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://ebay.com/</string>
						<key>title</key>
						<string>eBay</string>
					</dict>
					<key>URLString</key>
					<string>http://ebay.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://dk.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo</string>
					</dict>
					<key>URLString</key>
					<string>http://dk.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ni.dk/</string>
								<key>title</key>
								<string>Nyhedsindeks</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ni.dk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.bt.dk/</string>
								<key>title</key>
								<string>BT</string>
							</dict>
							<key>URLString</key>
							<string>http://www.bt.dk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ekstrabladet.dk/</string>
								<key>title</key>
								<string>Ekstrabladet</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ekstrabladet.dk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.politiken.dk/</string>
								<key>title</key>
								<string>Politiken</string>
							</dict>
							<key>URLString</key>
							<string>http://www.politiken.dk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict><dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.berlingske.dk/</string>
								<key>title</key>
								<string>Berlingske Tidende</string>
							</dict>
							<key>URLString</key>
							<string>http://www.berlingske.dk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict><dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.jp.dk/</string>
								<key>title</key>
								<string>Jyllandsposten</string>
							</dict>
							<key>URLString</key>
							<string>http://www.jp.dk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Nyheder</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Bogmærkelinje</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ni.dk/</string>
						<key>title</key>
						<string>Nyhedsindeks</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ni.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.bt.dk/</string>
						<key>title</key>
						<string>BT</string>
					</dict>
					<key>URLString</key>
					<string>http://www.bt.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ekstrabladet.dk/</string>
						<key>title</key>
						<string>Ekstrabladet</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ekstrabladet.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.politiken.dk/</string>
						<key>title</key>
						<string>Politiken</string>
					</dict>
					<key>URLString</key>
					<string>http://www.politiken.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.berlingske.dk/</string>
						<key>title</key>
						<string>Berlingske Tidende</string>
					</dict>
					<key>URLString</key>
					<string>http://www.berlingske.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.jp.dk/</string>
						<key>title</key>
						<string>Jyllandsposten</string>
					</dict>
					<key>URLString</key>
					<string>http://www.jp.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Nyheder</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://guide.apple.com/</string>
						<key>title</key>
						<string>Macintosh Products Guide</string>
					</dict>
					<key>URLString</key>
					<string>http://guide.apple.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/downloads/macosx/</string>
						<key>title</key>
						<string>Mac OS X Downloads</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/downloads/macosx/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maccentral.macworld.com/</string>
						<key>title</key>
						<string>MacCentral</string>
					</dict>
					<key>URLString</key>
					<string>http://maccentral.macworld.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.macworld.com/</string>
						<key>title</key>
						<string>Macworld</string>
					</dict>
					<key>URLString</key>
					<string>http://www.macworld.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://insidemacgames.com/</string>
						<key>title</key>
						<string>Inside Mac Games</string>
					</dict>
					<key>URLString</key>
					<string>http://insidemacgames.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://versiontracker.com/</string>
						<key>title</key>
						<string>VersionTracker</string>
					</dict>
					<key>URLString</key>
					<string>http://versiontracker.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.microsoft.com/mac/</string>
						<key>title</key>
						<string>Microsoft Mactopia</string>
					</dict>
					<key>URLString</key>
					<string>http://www.microsoft.com/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://macwindows.com/</string>
						<key>title</key>
						<string>MacWindows</string>
					</dict>
					<key>URLString</key>
					<string>http://macwindows.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mediamac.dk/</string>
						<key>title</key>
						<string>Mediamac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mediamac.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.macnyt.dk/</string>
						<key>title</key>
						<string>Macnyt</string>
					</dict>
					<key>URLString</key>
					<string>http://www.macnyt.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Mac</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.duda.dk/</string>
						<key>title</key>
						<string>Det unge Danmark</string>
					</dict>
					<key>URLString</key>
					<string>http://www.duda.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.spoergolivia.dk/</string>
						<key>title</key>
						<string>Spørg Olivia</string>
					</dict>
					<key>URLString</key>
					<string>http://www.spoergolivia.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.popit.dk/</string>
						<key>title</key>
						<string>Popit</string>
					</dict>
					<key>URLString</key>
					<string>http://www.popit.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.vildfred.dk/</string>
						<key>title</key>
						<string>Vildfred</string>
					</dict>
					<key>URLString</key>
					<string>http://www.vildfred.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.klatten.dk/</string>
						<key>title</key>
						<string>Klatten</string>
					</dict>
					<key>URLString</key>
					<string>http://www.klatten.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Børn</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ni.dk/sport/</string>
						<key>title</key>
						<string>Nyhedsindeks sport</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ni.dk/sport/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.dbu.dk/</string>
						<key>title</key>
						<string>Dansk Boldspils Union</string>
					</dict>
					<key>URLString</key>
					<string>http://www.dbu.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.dif.dk/</string>
						<key>title</key>
						<string>Dansk Idrætsforbund</string>
					</dict>
					<key>URLString</key>
					<string>http://www.dif.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://dk.sports.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo sport</string>
					</dict>
					<key>URLString</key>
					<string>http://dk.sports.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				</array>
			<key>Title</key>
			<string>Sport</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.billetnet.dk/</string>
						<key>title</key>
						<string>Billetnet</string>
					</dict>
					<key>URLString</key>
					<string>http://www.billetnet.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.scope.dk/</string>
						<key>title</key>
						<string>Scope</string>
					</dict>
					<key>URLString</key>
					<string>http://www.scope.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/trailers/</string>
						<key>title</key>
						<string>QuickTime Movie Trailers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/trailers/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tvguide.dk/</string>
						<key>title</key>
						<string>TV Guide</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tvguide.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Underholdning</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sho.dk/</string>
						<key>title</key>
						<string>Shopping Guide</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sho.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/denmarkstore</string>
						<key>title</key>
						<string>Apple Store</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/denmarkstore</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.interflora.dk/</string>
						<key>title</key>
						<string>Interflora</string>
					</dict>
					<key>URLString</key>
					<string>http://www.interflora.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				</array>
			<key>Title</key>
			<string>Indkøb</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.alt-om-rejser.dk/</string>
						<key>title</key>
						<string>Alt om rejser</string>
					</dict>
					<key>URLString</key>
					<string>http://www.alt-om-rejser.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.godrejse.dk/</string>
						<key>title</key>
						<string>God Rejse</string>
					</dict>
					<key>URLString</key>
					<string>http://www.godrejse.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.travelmarket.dk/</string>
						<key>title</key>
						<string>Travelmarket Danmark</string>
					</dict>
					<key>URLString</key>
					<string>http://www.travelmarket.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.backpacker.dk/</string>
						<key>title</key>
						<string>Backpacker</string>
					</dict>
					<key>URLString</key>
					<string>http://www.backpacker.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.adventureguide.dk/</string>
						<key>title</key>
						<string>Adventureguide</string>
					</dict>
					<key>URLString</key>
					<string>http://www.adventureguide.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				</array>
			<key>Title</key>
			<string>Rejser</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.dmi.dk/</string>
						<key>title</key>
						<string>Danmarks Meteorologiske Institut</string>
					</dict>
					<key>URLString</key>
					<string>http://www.dmi.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.krak.dk/</string>
						<key>title</key>
						<string>Krak</string>
					</dict>
					<key>URLString</key>
					<string>http://www.krak.dk/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				</array>
			<key>Title</key>
			<string>Reference</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Andet…</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkGroupTag</key>
	<string>12/19/2002</string>
</dict>
</plist>
