<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<array>
	<integer>0</integer>
	<integer>1280</integer>
	<integer>2561</integer>
	<integer>1</integer>
	<integer>2</integer>
	<integer>25</integer>
	<string>3</string>
	<integer>256</integer>
	<integer>134217984</integer>
</array>
</plist>
