<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<array>
	<integer>256</integer>
	<integer>134217984</integer>
	<integer>0</integer>
	<integer>1</integer>
	<integer>2</integer>
	<integer>25</integer>
	<integer>3</integer>
	<integer>4</integer>
	<integer>5</integer>
	<integer>6</integer>
	<integer>7</integer>
	<integer>29</integer>
	<integer>35</integer>
	<integer>37</integer>
	<integer>513</integer>
	<integer>514</integer>
	<integer>515</integer>
	<integer>516</integer>
	<integer>517</integer>
	<integer>519</integer>
	<integer>521</integer>
	<integer>1024</integer>
	<integer>1280</integer>
	<integer>1281</integer>
	<integer>2336</integer>
	<integer>2080</integer>
	<integer>2561</integer>
	<integer>1056</integer>
	<integer>1059</integer>
	<integer>1057</integer>
	<integer>1058</integer>
	<integer>2817</integer>
	<integer>3071</integer>
</array>
</plist>
