<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/</string>
						<key>title</key>
						<string>Apple</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mac.com/</string>
						<key>title</key>
						<string>.Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.com/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://ebay.com/</string>
						<key>title</key>
						<string>eBay</string>
					</dict>
					<key>URLString</key>
					<string>http://ebay.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo!</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.cnn.com/</string>
								<key>title</key>
								<string>CNN.com</string>
							</dict>
							<key>URLString</key>
							<string>http://www.cnn.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.helsinginsanomat.fi/</string>
								<key>title</key>
								<string>Helsingin Sanomat</string>
							</dict>
							<key>URLString</key>
							<string>http://www.helsinginsanomat.fi/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.iltasanomat.fi/</string>
								<key>title</key>
								<string>Ilta-Sanomat</string>
							</dict>
							<key>URLString</key>
							<string>http://www.iltasanomat.fi/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.bbc.co.uk/</string>
								<key>title</key>
								<string>BBC NEWS</string>
							</dict>
							<key>URLString</key>
							<string>http://news.bbc.co.uk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.yle.fi</string>
								<key>title</key>
								<string>YLE uutiset</string>
							</dict>
							<key>URLString</key>
							<string>http://www.yle.fi</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.mtv3.fi</string>
								<key>title</key>
								<string>MTV3 uutiset</string>
							</dict>
							<key>URLString</key>
							<string>http://www.mtv3.fi</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.kauppalehti.fi</string>
								<key>title</key>
								<string>Kauppalehti</string>
							</dict>
							<key>URLString</key>
							<string>http://www.kauppalehti.fi</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Uutiset</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Kirjanmerkkipalkki</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.cnn.com/</string>
						<key>title</key>
						<string>CNN.com</string>
					</dict>
					<key>URLString</key>
					<string>http://www.cnn.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.helsinginsanomat.fi/</string>
						<key>title</key>
						<string>Helsingin Sanomat</string>
					</dict>
					<key>URLString</key>
					<string>http://www.helsinginsanomat.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.iltasanomat.fi/</string>
						<key>title</key>
						<string>Ilta-Sanomat</string>
					</dict>
					<key>URLString</key>
					<string>http://www.iltasanomat.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yle.fi</string>
						<key>title</key>
						<string>YLE uutiset</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yle.fi</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mtv3.fi</string>
						<key>title</key>
						<string>MTV3 uutiset</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mtv3.fi</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.kauppalehti.fi</string>
						<key>title</key>
						<string>Kauppalehti</string>
					</dict>
					<key>URLString</key>
					<string>http://www.kauppalehti.fi</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://news.google.com/</string>
						<key>title</key>
						<string>Google News</string>
					</dict>
					<key>URLString</key>
					<string>http://news.google.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Uutiset</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://guide.apple.com/</string>
						<key>title</key>
						<string>Macintosh Products Guide</string>
					</dict>
					<key>URLString</key>
					<string>http://guide.apple.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/downloads/macosx/</string>
						<key>title</key>
						<string>Mac OS X Downloads</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/downloads/macosx/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maccentral.macworld.com/</string>
						<key>title</key>
						<string>MacCentral</string>
					</dict>
					<key>URLString</key>
					<string>http://maccentral.macworld.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.macmaailma.fi/</string>
						<key>title</key>
						<string>Macmaailma</string>
					</dict>
					<key>URLString</key>
					<string>http://www.macmaailma.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://insidemacgames.com/</string>
						<key>title</key>
						<string>Inside Mac Games</string>
					</dict>
					<key>URLString</key>
					<string>http://insidemacgames.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://versiontracker.com/</string>
						<key>title</key>
						<string>VersionTracker</string>
					</dict>
					<key>URLString</key>
					<string>http://versiontracker.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.microsoft.com/mac/</string>
						<key>title</key>
						<string>Microsoft Mactopia</string>
					</dict>
					<key>URLString</key>
					<string>http://www.microsoft.com/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://macwindows.com/</string>
						<key>title</key>
						<string>MacWindows</string>
					</dict>
					<key>URLString</key>
					<string>http://macwindows.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Mac</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.koululainen.net/</string>
						<key>title</key>
						<string>Koululainen</string>
					</dict>
					<key>URLString</key>
					<string>http://www.koululainen.net/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.fng.fi/fng/html4/fi/ateneum/children/</string>
						<key>title</key>
						<string>Lasten Ateneum</string>
					</dict>
					<key>URLString</key>
					<string>http://www.fng.fi/fng/html4/fi/ateneum/children/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.howstuffworks.com/</string>
						<key>title</key>
						<string>HowStuffWorks</string>
					</dict>
					<key>URLString</key>
					<string>http://www.howstuffworks.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nationalgeographic.com/</string>
						<key>title</key>
						<string>National Geographic</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nationalgeographic.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.credo.fi/lastenmaa/</string>
						<key>title</key>
						<string>Lastenmaa</string>
					</dict>
					<key>URLString</key>
					<string>http://www.credo.fi/lastenmaa/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://disney.fi</string>
						<key>title</key>
						<string>Disney</string>
					</dict>
					<key>URLString</key>
					<string>http://disney.fi</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www3.soneraplaza.fi/virtahepo</string>
						<key>title</key>
						<string>Virtahepo</string>
					</dict>
					<key>URLString</key>
					<string>http://www3.soneraplaza.fi/virtahepo</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.heureka.fi/koulu/index_ns.html</string>
						<key>title</key>
						<string>Heureka</string>
					</dict>
					<key>URLString</key>
					<string>http://www.heureka.fi/koulu/index_ns.html</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Lapset</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://espn.go.com/</string>
						<key>title</key>
						<string>ESPN</string>
					</dict>
					<key>URLString</key>
					<string>http://espn.go.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www3.soneraplaza.fi/urheilu</string>
						<key>title</key>
						<string>Urheilu-uutisia</string>
					</dict>
					<key>URLString</key>
					<string>http://www3.soneraplaza.fi/urheilu</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nolla.net</string>
						<key>title</key>
						<string>Lumilautailu</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nolla.net</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.hiihtoliitto.fi/</string>
						<key>title</key>
						<string>Hiihto</string>
					</dict>
					<key>URLString</key>
					<string>http://www.hiihtoliitto.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.palloliitto.fi/</string>
						<key>title</key>
						<string>Jalkapallo</string>
					</dict>
					<key>URLString</key>
					<string>http://www.palloliitto.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.finhockey.fi/</string>
						<key>title</key>
						<string>Jääkiekko</string>
					</dict>
					<key>URLString</key>
					<string>http://www.finhockey.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.koris.net/</string>
						<key>title</key>
						<string>Koripallo</string>
					</dict>
					<key>URLString</key>
					<string>http://www.koris.net/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://golfpiste.com/</string>
						<key>title</key>
						<string>Golf</string>
					</dict>
					<key>URLString</key>
					<string>http://golfpiste.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://expn.go.com/xg/</string>
						<key>title</key>
						<string>X Games</string>
					</dict>
					<key>URLString</key>
					<string>http://expn.go.com/xg/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Urheilu</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.lippupalvelu.fi/</string>
						<key>title</key>
						<string>Lippupalvelu</string>
					</dict>
					<key>URLString</key>
					<string>http://www.lippupalvelu.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://rollingstone.com/</string>
						<key>title</key>
						<string>RollingStone</string>
					</dict>
					<key>URLString</key>
					<string>http://rollingstone.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://billboard.com/</string>
						<key>title</key>
						<string>Billboard</string>
					</dict>
					<key>URLString</key>
					<string>http://billboard.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://imdb.com/</string>
						<key>title</key>
						<string>Internet Movie Database</string>
					</dict>
					<key>URLString</key>
					<string>http://imdb.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.eonline.com/</string>
						<key>title</key>
						<string>E! Online</string>
					</dict>
					<key>URLString</key>
					<string>http://www.eonline.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/trailers/</string>
						<key>title</key>
						<string>QuickTime Movie Trailers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/trailers/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.warnerbros.com/</string>
						<key>title</key>
						<string>Warner Brothers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.warnerbros.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://telkku.com/</string>
						<key>title</key>
						<string>TV</string>
					</dict>
					<key>URLString</key>
					<string>http://telkku.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Huvi</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.com/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://store.apple.com/Apple/WebObjects/fistore/</string>
						<key>title</key>
						<string>Apple Store</string>
					</dict>
					<key>URLString</key>
					<string>http://store.apple.com/Apple/WebObjects/fistore/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.interflora.fi/</string>
						<key>title</key>
						<string>InterFlora</string>
					</dict>
					<key>URLString</key>
					<string>http://www.interflora.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.keltainenporssi.fi/index.jsp</string>
						<key>title</key>
						<string>Keltainen Pörssi</string>
					</dict>
					<key>URLString</key>
					<string>http://www.keltainenporssi.fi/index.jsp</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.oikotie.fi/</string>
						<key>title</key>
						<string>Oikotie</string>
					</dict>
					<key>URLString</key>
					<string>http://www.oikotie.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Kauppa</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.expedia.com/</string>
						<key>title</key>
						<string>Expedia Travel</string>
					</dict>
					<key>URLString</key>
					<string>http://www.expedia.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.travelocity.com/</string>
						<key>title</key>
						<string>Travelocity</string>
					</dict>
					<key>URLString</key>
					<string>http://www.travelocity.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://lonelyplanet.com/</string>
						<key>title</key>
						<string>Lonely Planet</string>
					</dict>
					<key>URLString</key>
					<string>http://lonelyplanet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.viamichelin.com/</string>
						<key>title</key>
						<string>ViaMichelin</string>
					</dict>
					<key>URLString</key>
					<string>http://www.viamichelin.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Matkustaminen</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.fmi.fi/</string>
						<key>title</key>
						<string>Sää Ilmatieteen laitos</string>
					</dict>
					<key>URLString</key>
					<string>http://www.fmi.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tieh.fi/kartta/kartta.htm</string>
						<key>title</key>
						<string>Autoilijan tiekartta</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tieh.fi/kartta/kartta.htm</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.britannica.com/</string>
						<key>title</key>
						<string>Encyclopaedia Britanica</string>
					</dict>
					<key>URLString</key>
					<string>http://www.britannica.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Työkalut ja muu apu</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Other…</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkGroupTag</key>
	<string>12/19/2002</string>
</dict>
</plist>
