<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/fr</string>
						<key>title</key>
						<string>Apple France</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mac.com/</string>
						<key>title</key>
						<string>.Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.fr/</string>
						<key>title</key>
						<string>Amazon France</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ebay.fr/</string>
						<key>title</key>
						<string>eBay France</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ebay.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://fr.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo!</string>
					</dict>
					<key>URLString</key>
					<string>http://fr.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.lci.fr</string>
								<key>title</key>
								<string>LCI</string>
							</dict>
							<key>URLString</key>
							<string>http://www.lci.fr</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.lemonde.fr</string>
								<key>title</key>
								<string>Le Monde</string>
							</dict>
							<key>URLString</key>
							<string>http://www.lemonde.fr</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.liberation.fr</string>
								<key>title</key>
								<string>Libération</string>
							</dict>
							<key>URLString</key>
							<string>http://www.liberation.fr</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.francetelevisions.fr</string>
								<key>title</key>
								<string>France Télévisions</string>
							</dict>
							<key>URLString</key>
							<string>http://www.francetelevisions.fr</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.boursorama.com</string>
								<key>title</key>
								<string>Boursorama</string>
							</dict>
							<key>URLString</key>
							<string>http://www.boursorama.com</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.radiofrance.fr</string>
								<key>title</key>
								<string>RadioFrance</string>
							</dict>
							<key>URLString</key>
							<string>http://www.radiofrance.fr</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.lefigaro.fr</string>
								<key>title</key>
								<string>Le Figaro</string>
							</dict>
							<key>URLString</key>
							<string>http://www.lefigaro.fr</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Informations</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Barre de Signets</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.lci.fr</string>
						<key>title</key>
						<string>LCI</string>
					</dict>
					<key>URLString</key>
					<string>http://www.lci.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.lemonde.fr</string>
						<key>title</key>
						<string>Le Monde</string>
					</dict>
					<key>URLString</key>
					<string>http://www.lemonde.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.liberation.fr</string>
						<key>title</key>
						<string>Libération</string>
					</dict>
					<key>URLString</key>
					<string>http://www.liberation.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.francetelevisions.fr</string>
						<key>title</key>
						<string>France Télévisions</string>
					</dict>
					<key>URLString</key>
					<string>http://www.francetelevisions.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.boursorama.com</string>
						<key>title</key>
						<string>Boursorama</string>
					</dict>
					<key>URLString</key>
					<string>http://www.boursorama.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.radiofrance.fr</string>
						<key>title</key>
						<string>RadioFrance</string>
					</dict>
					<key>URLString</key>
					<string>http://www.radiofrance.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.lefigaro.fr</string>
						<key>title</key>
						<string>Le Figaro</string>
					</dict>
					<key>URLString</key>
					<string>http://www.lefigaro.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Informations</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://guide.apple.com/fr/index.lasso</string>
						<key>title</key>
						<string>Guide des Produits Macintosh</string>
					</dict>
					<key>URLString</key>
					<string>http://guide.apple.com/fr/index.lasso</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/fr/downloads/macosx</string>
						<key>title</key>
						<string>Téléchargements Mac OS X</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/fr/downloads/macosx</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://svmmac.vnunet.fr</string>
						<key>title</key>
						<string>SVM Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://svmmac.vnunet.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.macgeneration.com</string>
						<key>title</key>
						<string>MacGénération</string>
					</dict>
					<key>URLString</key>
					<string>http://www.macgeneration.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.macgamezone.com</string>
						<key>title</key>
						<string>MacGameZone.com</string>
					</dict>
					<key>URLString</key>
					<string>http://www.macgamezone.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.frtracker.com</string>
						<key>title</key>
						<string>Le Traqueur Francophone</string>
					</dict>
					<key>URLString</key>
					<string>http://www.frtracker.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.microsoft.com/france/mac</string>
						<key>title</key>
						<string>Microsoft France Mactopia</string>
					</dict>
					<key>URLString</key>
					<string>http://www.microsoft.com/france/mac</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Mac</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.france5.fr/zouzous/</string>
						<key>title</key>
						<string>France 5 Zouzous</string>
					</dict>
					<key>URLString</key>
					<string>http://www.france5.fr/zouzous/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tourdejeu.net/</string>
						<key>title</key>
						<string>TourDeJeu</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tourdejeu.net/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ludomac.com/</string>
						<key>title</key>
						<string>LudoMac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ludomac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nationalgeographic.fr</string>
						<key>title</key>
						<string>National Geographic France</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nationalgeographic.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.macjnet.com/</string>
						<key>title</key>
						<string>Macjnet</string>
					</dict>
					<key>URLString</key>
					<string>http://www.macjnet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.disney.fr</string>
						<key>title</key>
						<string>Disney France</string>
					</dict>
					<key>URLString</key>
					<string>http://www.disney.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.education.fr/</string>
						<key>title</key>
						<string>Education.fr</string>
					</dict>
					<key>URLString</key>
					<string>http://www.education.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.rmn.fr</string>
						<key>title</key>
						<string>Réunion des musées nationaux</string>
					</dict>
					<key>URLString</key>
					<string>http://www.rmn.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Enfants</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.eurosport.fr/</string>
						<key>title</key>
						<string>Eurosport</string>
					</dict>
					<key>URLString</key>
					<string>http://www.eurosport.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.lequipe.fr/</string>
						<key>title</key>
						<string>L'Equipe</string>
					</dict>
					<key>URLString</key>
					<string>http://www.lequipe.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.jeunesse-sports.gouv.fr/</string>
						<key>title</key>
						<string>Ministére des Sports</string>
					</dict>
					<key>URLString</key>
					<string>http://www.jeunesse-sports.gouv.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ffr.fr/</string>
						<key>title</key>
						<string>Fédération Française de Rugby</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ffr.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.fff.fr/</string>
						<key>title</key>
						<string>Fédération Française de Football</string>
					</dict>
					<key>URLString</key>
					<string>http://www.fff.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ffsa.org/</string>
						<key>title</key>
						<string>Fédération Française du Sport Automobile</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ffsa.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.fft.fr/</string>
						<key>title</key>
						<string>Fédération Française de Tennis</string>
					</dict>
					<key>URLString</key>
					<string>http://www.fft.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ffs.fr/</string>
						<key>title</key>
						<string>Fédération Française de Ski</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ffs.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ffc.fr</string>
						<key>title</key>
						<string>Fédération Française de Cyclisme</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ffc.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Sports</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.allocine.fr/</string>
						<key>title</key>
						<string>AlloCiné</string>
					</dict>
					<key>URLString</key>
					<string>http://www.allocine.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.theatreonline.com/</string>
						<key>title</key>
						<string>Théâtre On Line</string>
					</dict>
					<key>URLString</key>
					<string>http://www.theatreonline.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.webcity.fr/</string>
						<key>title</key>
						<string>WebCity</string>
					</dict>
					<key>URLString</key>
					<string>http://www.webcity.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/trailers/</string>
						<key>title</key>
						<string>QuickTime Movie Trailers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/trailers/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.warnerbros.fr/</string>
						<key>title</key>
						<string>Warner Brothers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.warnerbros.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tele7jours.com/</string>
						<key>title</key>
						<string>Télé 7 Jours</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tele7jours.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Divertissements</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.fr</string>
						<key>title</key>
						<string>Amazon France</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/francestore</string>
						<key>title</key>
						<string>AppleStore France</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/francestore</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ebay.fr</string>
						<key>title</key>
						<string>eBay France</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ebay.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.opodo.fr</string>
						<key>title</key>
						<string>Opodo</string>
					</dict>
					<key>URLString</key>
					<string>http://www.opodo.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yaskifo.com/fr/</string>
						<key>title</key>
						<string>Yaskifo</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yaskifo.com/fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.interflora.fr/</string>
						<key>title</key>
						<string>Interflora</string>
					</dict>
					<key>URLString</key>
					<string>http://www.interflora.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.kelkoo.fr</string>
						<key>title</key>
						<string>Kelkoo</string>
					</dict>
					<key>URLString</key>
					<string>http://www.kelkoo.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.monsieurprix.com/</string>
						<key>title</key>
						<string>Monsieur Prix</string>
					</dict>
					<key>URLString</key>
					<string>http://www.monsieurprix.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Achats</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.voyages-sncf.com</string>
						<key>title</key>
						<string>voyages-sncf.com</string>
					</dict>
					<key>URLString</key>
					<string>http://www.voyages-sncf.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.france.diplomatie.fr/voyageurs/etrangers/avis/conseils</string>
						<key>title</key>
						<string>Conseils aux voyageurs</string>
					</dict>
					<key>URLString</key>
					<string>http://www.france.diplomatie.fr/voyageurs/etrangers/avis/conseils</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tourisme.fr/</string>
						<key>title</key>
						<string>Tourisme en France</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tourisme.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mappy.fr</string>
						<key>title</key>
						<string>Mappy</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mappy.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.routard.com</string>
						<key>title</key>
						<string>Le Guide du Routard</string>
					</dict>
					<key>URLString</key>
					<string>http://www.routard.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://lonelyplanet.fr/</string>
						<key>title</key>
						<string>Lonely Planet</string>
					</dict>
					<key>URLString</key>
					<string>http://lonelyplanet.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.viamichelin.fr/</string>
						<key>title</key>
						<string>ViaMichelin</string>
					</dict>
					<key>URLString</key>
					<string>http://www.viamichelin.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Voyages</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.meteo.fr</string>
						<key>title</key>
						<string>Météo France</string>
					</dict>
					<key>URLString</key>
					<string>http://www.meteo.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mappy.fr</string>
						<key>title</key>
						<string>Mappy</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mappy.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.service-public.fr</string>
						<key>title</key>
						<string>Service Public</string>
					</dict>
					<key>URLString</key>
					<string>http://www.service-public.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.doctissimo.fr</string>
						<key>title</key>
						<string>Doctissimo</string>
					</dict>
					<key>URLString</key>
					<string>http://www.doctissimo.fr</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.augfrance.com</string>
						<key>title</key>
						<string>Groupes Utilisateurs Apple</string>
					</dict>
					<key>URLString</key>
					<string>http://www.augfrance.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://macalecole.free.fr/</string>
						<key>title</key>
						<string>Site des Ecoles Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://macalecole.free.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.monster.fr/</string>
						<key>title</key>
						<string>Monster.fr</string>
					</dict>
					<key>URLString</key>
					<string>http://www.monster.fr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Outils ou Référence</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Autre…</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkGroupTag</key>
	<string>12/19/2002</string>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
</dict>
</plist>
