<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com.cn/</string>
						<key>title</key>
						<string>Apple 中国</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mac.com/</string>
						<key>title</key>
						<string>.Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.com/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.eachnet.com/</string>
						<key>title</key>
						<string>易趣网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.eachnet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://cn.yahoo.com/</string>
						<key>title</key>
						<string>雅虎中国</string>
					</dict>
					<key>URLString</key>
					<string>http://cn.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.chinanews.com.cn/</string>
								<key>title</key>
								<string>中国新闻网</string>
							</dict>
							<key>URLString</key>
							<string>http://www.chinanews.com.cn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.sina.com.cn/</string>
								<key>title</key>
								<string>新浪网新闻中心</string>
							</dict>
							<key>URLString</key>
							<string>http://news.sina.com.cn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.sohu.com/</string>
								<key>title</key>
								<string>搜狐网站新闻中心</string>
							</dict>
							<key>URLString</key>
							<string>http://news.sohu.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.163.com/</string>
								<key>title</key>
								<string>网易新闻频道</string>
							</dict>
							<key>URLString</key>
							<string>http://news.163.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://cbs.marketwatch.com/</string>
								<key>title</key>
								<string>CBS MarketWatch</string>
							</dict>
							<key>URLString</key>
							<string>http://cbs.marketwatch.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.com.com/</string>
								<key>title</key>
								<string>CNET News.com</string>
							</dict>
							<key>URLString</key>
							<string>http://news.com.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.google.com/</string>
								<key>title</key>
								<string>Google News</string>
							</dict>
							<key>URLString</key>
							<string>http://news.google.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>新闻</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>书签栏</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.chinanews.com.cn/</string>
						<key>title</key>
						<string>中国新闻网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.chinanews.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://news.sina.com.cn/</string>
						<key>title</key>
						<string>新浪网新闻中心</string>
					</dict>
					<key>URLString</key>
					<string>http://news.sina.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://news.sohu.com/</string>
						<key>title</key>
						<string>搜狐网站新闻中心</string>
					</dict>
					<key>URLString</key>
					<string>http://news.sohu.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://news.163.com/</string>
						<key>title</key>
						<string>网易新闻频道</string>
					</dict>
					<key>URLString</key>
					<string>http://news.163.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://cbs.marketwatch.com/</string>
						<key>title</key>
						<string>CBS MarketWatch</string>
					</dict>
					<key>URLString</key>
					<string>http://cbs.marketwatch.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://news.com.com/</string>
						<key>title</key>
						<string>CNET News.com</string>
					</dict>
					<key>URLString</key>
					<string>http://news.com.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://news.google.com/</string>
						<key>title</key>
						<string>Google News</string>
					</dict>
					<key>URLString</key>
					<string>http://news.google.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>新闻</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://guide.apple.com/</string>
						<key>title</key>
						<string>苹果产品使用指南</string>
					</dict>
					<key>URLString</key>
					<string>http://guide.apple.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/downloads/macosx/</string>
						<key>title</key>
						<string>Mac OS X 下载</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/downloads/macosx/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maccentral.macworld.com/</string>
						<key>title</key>
						<string>MacCentral</string>
					</dict>
					<key>URLString</key>
					<string>http://maccentral.macworld.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.macworld.com/</string>
						<key>title</key>
						<string>Macworld</string>
					</dict>
					<key>URLString</key>
					<string>http://www.macworld.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://insidemacgames.com/</string>
						<key>title</key>
						<string>Inside Mac Games</string>
					</dict>
					<key>URLString</key>
					<string>http://insidemacgames.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://versiontracker.com/</string>
						<key>title</key>
						<string>VersionTracker</string>
					</dict>
					<key>URLString</key>
					<string>http://versiontracker.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.microsoft.com/mac/</string>
						<key>title</key>
						<string>Microsoft Mactopia</string>
					</dict>
					<key>URLString</key>
					<string>http://www.microsoft.com/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://macwindows.com/</string>
						<key>title</key>
						<string>MacWindows</string>
					</dict>
					<key>URLString</key>
					<string>http://macwindows.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Mac</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.chinakids.net.cn/</string>
						<key>title</key>
						<string>中国少年雏鹰网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.chinakids.net.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.chinakol.com/</string>
						<key>title</key>
						<string>中国少年在线</string>
					</dict>
					<key>URLString</key>
					<string>http://www.chinakol.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.cycnet.com/</string>
						<key>title</key>
						<string>中青网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.cycnet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.chinachildren.net.cn/</string>
						<key>title</key>
						<string>中国儿童网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.chinachildren.net.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.hongniba.com.cn/</string>
						<key>title</key>
						<string>红泥巴村</string>
					</dict>
					<key>URLString</key>
					<string>http://www.hongniba.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://disney.go.com/</string>
						<key>title</key>
						<string>Disney</string>
					</dict>
					<key>URLString</key>
					<string>http://disney.go.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://scholastic.com/</string>
						<key>title</key>
						<string>Scholastic.com</string>
					</dict>
					<key>URLString</key>
					<string>http://scholastic.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.si.edu/</string>
						<key>title</key>
						<string>Smithsonian Institution</string>
					</dict>
					<key>URLString</key>
					<string>http://www.si.edu/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>儿童</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sports.sina.com.cn/</string>
						<key>title</key>
						<string>新浪网新浪竞技风暴</string>
					</dict>
					<key>URLString</key>
					<string>http://sports.sina.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sports.163.com/</string>
						<key>title</key>
						<string>网易体育频道</string>
					</dict>
					<key>URLString</key>
					<string>http://sports.163.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sportsonline.com.cn/</string>
						<key>title</key>
						<string>体育在线</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sportsonline.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.shawei.com/</string>
						<key>title</key>
						<string>鲨威体坛</string>
					</dict>
					<key>URLString</key>
					<string>http://www.shawei.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sport158.com/</string>
						<key>title</key>
						<string>中国体育网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sport158.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.21sports.com/</string>
						<key>title</key>
						<string>二十一体育网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.21sports.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sportscn.com/</string>
						<key>title</key>
						<string>华体网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sportscn.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.golfweb.com/</string>
						<key>title</key>
						<string>PGA Tour Golf </string>
					</dict>
					<key>URLString</key>
					<string>http://www.golfweb.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://expn.go.com/xg/</string>
						<key>title</key>
						<string>X Games</string>
					</dict>
					<key>URLString</key>
					<string>http://expn.go.com/xg/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>体育</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tvb.com.cn/</string>
						<key>title</key>
						<string>新视线</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tvb.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://ent.sina.com.cn/</string>
						<key>title</key>
						<string>新浪网娱乐休闲</string>
					</dict>
					<key>URLString</key>
					<string>http://ent.sina.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://yule.sohu.com/</string>
						<key>title</key>
						<string>搜狐娱乐</string>
					</dict>
					<key>URLString</key>
					<string>http://yule.sohu.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.silversand.net/</string>
						<key>title</key>
						<string>碧海银沙站</string>
					</dict>
					<key>URLString</key>
					<string>http://www.silversand.net/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.eonline.com/</string>
						<key>title</key>
						<string>E! Online</string>
					</dict>
					<key>URLString</key>
					<string>http://www.eonline.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/trailers/</string>
						<key>title</key>
						<string>QuickTime Movie Trailers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/trailers/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.warnerbros.com/</string>
						<key>title</key>
						<string>Warner Brothers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.warnerbros.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://tvguide.com/</string>
						<key>title</key>
						<string>TV Guide</string>
					</dict>
					<key>URLString</key>
					<string>http://tvguide.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>娱乐</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.eachnet.com/</string>
						<key>title</key>
						<string>易趣网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.eachnet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.m18.com/</string>
						<key>title</key>
						<string>麦网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.m18.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.joyo.com/</string>
						<key>title</key>
						<string>卓越网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.joyo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.salala.com.cn/</string>
						<key>title</key>
						<string>莎啦啦连锁鲜花礼品网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.salala.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ego365.com/</string>
						<key>title</key>
						<string>易购 365</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ego365.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.1800flowers.com/</string>
						<key>title</key>
						<string>1-800-FLOWERS</string>
					</dict>
					<key>URLString</key>
					<string>http://www.1800flowers.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://bizrate.com/</string>
						<key>title</key>
						<string>BizRate</string>
					</dict>
					<key>URLString</key>
					<string>http://bizrate.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://shopper.cnet.com/</string>
						<key>title</key>
						<string>CNET Shopper</string>
					</dict>
					<key>URLString</key>
					<string>http://shopper.cnet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>购物</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ctrip.com/</string>
						<key>title</key>
						<string>携程旅行网</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ctrip.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ctn.com.cn/</string>
						<key>title</key>
						<string>华夏旅游</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ctn.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.cnto.com/</string>
						<key>title</key>
						<string>中国旅行热线</string>
					</dict>
					<key>URLString</key>
					<string>http://www.cnto.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://travel.elong.com/</string>
						<key>title</key>
						<string>e龙商务旅行网</string>
					</dict>
					<key>URLString</key>
					<string>http://travel.elong.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://digitalcity.com/</string>
						<key>title</key>
						<string>Digital City</string>
					</dict>
					<key>URLString</key>
					<string>http://digitalcity.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://lonelyplanet.com/</string>
						<key>title</key>
						<string>Lonely Planet</string>
					</dict>
					<key>URLString</key>
					<string>http://lonelyplanet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.viamichelin.com/</string>
						<key>title</key>
						<string>ViaMichelin</string>
					</dict>
					<key>URLString</key>
					<string>http://www.viamichelin.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>旅游</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nmc.gov.cn/</string>
						<key>title</key>
						<string>中国气象在线</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nmc.gov.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.chinaquest.com/</string>
						<key>title</key>
						<string>城市通</string>
					</dict>
					<key>URLString</key>
					<string>http://www.chinaquest.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.chinayellowpages.com.cn/</string>
						<key>title</key>
						<string>中国黄页</string>
					</dict>
					<key>URLString</key>
					<string>http://www.chinayellowpages.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mayoclinic.com/</string>
						<key>title</key>
						<string>Mayo Clinic</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mayoclinic.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://webmd.com/</string>
						<key>title</key>
						<string>WebMD</string>
					</dict>
					<key>URLString</key>
					<string>http://webmd.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://bartleby.com/</string>
						<key>title</key>
						<string>Bartleby</string>
					</dict>
					<key>URLString</key>
					<string>http://bartleby.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.monster.com/</string>
						<key>title</key>
						<string>Monster.com</string>
					</dict>
					<key>URLString</key>
					<string>http://www.monster.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>工具和参考</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>其他…</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkGroupTag</key>
	<string>12/19/2002</string>
</dict>
</plist>
