<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.applecomputer.co.kr/</string>
						<key>title</key>
						<string>애플컴퓨터코리아</string>
					</dict>
					<key>URLString</key>
					<string>http://www.applecomputer.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mac.com/</string>
						<key>title</key>
						<string>.Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.interpark.co.kr/</string>
						<key>title</key>
						<string>인터파크</string>
					</dict>
					<key>URLString</key>
					<string>http://www.interpark.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.auction.co.kr/</string>
						<key>title</key>
						<string>옥션</string>
					</dict>
					<key>URLString</key>
					<string>http://www.auction.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kr.yahoo.com/</string>
						<key>title</key>
						<string>야후! 코리아</string>
					</dict>
					<key>URLString</key>
					<string>http://kr.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.joins.com/cnn/</string>
								<key>title</key>
								<string>CNN 한글뉴스</string>
							</dict>
							<key>URLString</key>
							<string>http://www.joins.com/cnn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.chosun.com/</string>
								<key>title</key>
								<string>조선일보</string>
							</dict>
							<key>URLString</key>
							<string>http://www.chosun.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.joins.com/</string>
								<key>title</key>
								<string>중앙일보</string>
							</dict>
							<key>URLString</key>
							<string>http://www.joins.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.donga.com/</string>
								<key>title</key>
								<string>동아일보</string>
							</dict>
							<key>URLString</key>
							<string>http://www.donga.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.hani.co.kr/</string>
								<key>title</key>
								<string>한겨레</string>
							</dict>
							<key>URLString</key>
							<string>http://www.hani.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.zdnet.co.kr/</string>
								<key>title</key>
								<string>ZD Net Korea</string>
							</dict>
							<key>URLString</key>
							<string>http://www.zdnet.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.yonhapnews.co.kr/</string>
								<key>title</key>
								<string>연합뉴스</string>
							</dict>
							<key>URLString</key>
							<string>http://www.yonhapnews.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>뉴스</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>책갈피 막대</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.joins.com/cnn/</string>
						<key>title</key>
						<string>CNN 한글뉴스</string>
					</dict>
					<key>URLString</key>
					<string>http://www.joins.com/cnn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.chosun.com/</string>
						<key>title</key>
						<string>조선일보</string>
					</dict>
					<key>URLString</key>
					<string>http://www.chosun.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.joins.com/</string>
						<key>title</key>
						<string>중앙일보</string>
					</dict>
					<key>URLString</key>
					<string>http://www.joins.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.donga.com/</string>
						<key>title</key>
						<string>동아일보</string>
					</dict>
					<key>URLString</key>
					<string>http://www.donga.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.hani.co.kr/</string>
						<key>title</key>
						<string>한겨레</string>
					</dict>
					<key>URLString</key>
					<string>http://www.hani.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.zdnet.co.kr/</string>
						<key>title</key>
						<string>ZD Net Korea</string>
					</dict>
					<key>URLString</key>
					<string>http://www.zdnet.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yonhapnews.co.kr/</string>
						<key>title</key>
						<string>연합뉴스</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yonhapnews.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>뉴스</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://guide.apple.com/</string>
						<key>title</key>
						<string>매킨토시 관련 제품 가이드</string>
					</dict>
					<key>URLString</key>
					<string>http://guide.apple.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/downloads/macosx/</string>
						<key>title</key>
						<string>Mac OS X 다운로드</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/downloads/macosx/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maccentral.macworld.com/</string>
						<key>title</key>
						<string>MacCentral</string>
					</dict>
					<key>URLString</key>
					<string>http://maccentral.macworld.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.withmac.com/</string>
						<key>title</key>
						<string>withMAC</string>
					</dict>
					<key>URLString</key>
					<string>http://www.withmac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.infor.co.kr/</string>
						<key>title</key>
						<string>맥마당</string>
					</dict>
					<key>URLString</key>
					<string>http://www.infor.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.createmac.com/</string>
						<key>title</key>
						<string>CreateMac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.createmac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.microsoft.com/mac/</string>
						<key>title</key>
						<string>Microsoft Mactopia</string>
					</dict>
					<key>URLString</key>
					<string>http://www.microsoft.com/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://macwindows.com/</string>
						<key>title</key>
						<string>MacWindows</string>
					</dict>
					<key>URLString</key>
					<string>http://macwindows.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>매킨토시</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kids.discovery.com/</string>
						<key>title</key>
						<string>Discovery Kids</string>
					</dict>
					<key>URLString</key>
					<string>http://kids.discovery.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://pbskids.org/</string>
						<key>title</key>
						<string>PBS Kids</string>
					</dict>
					<key>URLString</key>
					<string>http://pbskids.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.howstuffworks.com/</string>
						<key>title</key>
						<string>HowStuffWorks</string>
					</dict>
					<key>URLString</key>
					<string>http://www.howstuffworks.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nationalgeographic.com/</string>
						<key>title</key>
						<string>National Geographic</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nationalgeographic.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yahooligans.com/</string>
						<key>title</key>
						<string>Yahooligans!</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yahooligans.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://disney.go.com/</string>
						<key>title</key>
						<string>Disney</string>
					</dict>
					<key>URLString</key>
					<string>http://disney.go.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://scholastic.com/</string>
						<key>title</key>
						<string>Scholastic.com</string>
					</dict>
					<key>URLString</key>
					<string>http://scholastic.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.si.edu/</string>
						<key>title</key>
						<string>Smithsonian Institution</string>
					</dict>
					<key>URLString</key>
					<string>http://www.si.edu/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>아이들</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://espn.go.com/</string>
						<key>title</key>
						<string>ESPN</string>
					</dict>
					<key>URLString</key>
					<string>http://espn.go.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sportsillustrated.cnn.com/</string>
						<key>title</key>
						<string>CNN Sports Illustrated</string>
					</dict>
					<key>URLString</key>
					<string>http://sportsillustrated.cnn.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.imbcsports.com/</string>
						<key>title</key>
						<string>MBC 스포츠</string>
					</dict>
					<key>URLString</key>
					<string>http://www.imbcsports.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.koreabaseball.com/</string>
						<key>title</key>
						<string>한국 야구위원회</string>
					</dict>
					<key>URLString</key>
					<string>http://www.koreabaseball.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.kfa.or.kr/</string>
						<key>title</key>
						<string>대한축구연맹</string>
					</dict>
					<key>URLString</key>
					<string>http://www.kfa.or.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.kbl.or.kr/</string>
						<key>title</key>
						<string>한국농구연맹</string>
					</dict>
					<key>URLString</key>
					<string>http://www.kbl.or.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.golfweb.com/</string>
						<key>title</key>
						<string>PGA Tour Golf </string>
					</dict>
					<key>URLString</key>
					<string>http://www.golfweb.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://expn.go.com/xg/</string>
						<key>title</key>
						<string>X Games</string>
					</dict>
					<key>URLString</key>
					<string>http://expn.go.com/xg/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>스포츠</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.groonet.com/</string>
						<key>title</key>
						<string>그루넷</string>
					</dict>
					<key>URLString</key>
					<string>http://www.groonet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.njoy365.com/</string>
						<key>title</key>
						<string>Njoy</string>
					</dict>
					<key>URLString</key>
					<string>http://www.njoy365.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.bugsmusic.co.kr/</string>
						<key>title</key>
						<string>벅스</string>
					</dict>
					<key>URLString</key>
					<string>http://www.bugsmusic.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nkino.com/</string>
						<key>title</key>
						<string>nkino</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nkino.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.eonline.com/</string>
						<key>title</key>
						<string>E! Online</string>
					</dict>
					<key>URLString</key>
					<string>http://www.eonline.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/trailers/</string>
						<key>title</key>
						<string>QuickTime Movie Trailers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/trailers/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.warnerbros.com/</string>
						<key>title</key>
						<string>Warner Brothers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.warnerbros.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://tvguide.com/</string>
						<key>title</key>
						<string>TV Guide</string>
					</dict>
					<key>URLString</key>
					<string>http://tvguide.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>오락</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.interpark.com/</string>
						<key>title</key>
						<string>인터파크</string>
					</dict>
					<key>URLString</key>
					<string>http://www.interpark.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.applestore.co.kr/</string>
						<key>title</key>
						<string>애플 스토어</string>
					</dict>
					<key>URLString</key>
					<string>http://www.applestore.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.auction.co.kr/</string>
						<key>title</key>
						<string>옥션</string>
					</dict>
					<key>URLString</key>
					<string>http://www.auction.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.lgeshop.co.kr/</string>
						<key>title</key>
						<string>LG홈쇼핑</string>
					</dict>
					<key>URLString</key>
					<string>http://www.lgeshop.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.lotte.com/</string>
						<key>title</key>
						<string>롯데닷컴</string>
					</dict>
					<key>URLString</key>
					<string>http://www.lotte.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nflower.com/</string>
						<key>title</key>
						<string>엔플라워닷컴</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nflower.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.danawa.co.kr/</string>
						<key>title</key>
						<string>다나와</string>
					</dict>
					<key>URLString</key>
					<string>http://www.danawa.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.boomboom.co.kr/</string>
						<key>title</key>
						<string>BoomBoom</string>
					</dict>
					<key>URLString</key>
					<string>http://www.boomboom.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>쇼핑</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.expedia.com/</string>
						<key>title</key>
						<string>Expedia Travel</string>
					</dict>
					<key>URLString</key>
					<string>http://www.expedia.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.travelocity.com/</string>
						<key>title</key>
						<string>Travelocity</string>
					</dict>
					<key>URLString</key>
					<string>http://www.travelocity.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://fodors.com/</string>
						<key>title</key>
						<string>Fodors</string>
					</dict>
					<key>URLString</key>
					<string>http://fodors.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.citysearch.com/</string>
						<key>title</key>
						<string>City Search</string>
					</dict>
					<key>URLString</key>
					<string>http://www.citysearch.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://digitalcity.com/</string>
						<key>title</key>
						<string>Digital City</string>
					</dict>
					<key>URLString</key>
					<string>http://digitalcity.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://lonelyplanet.com/</string>
						<key>title</key>
						<string>Lonely Planet</string>
					</dict>
					<key>URLString</key>
					<string>http://lonelyplanet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.viamichelin.com/</string>
						<key>title</key>
						<string>ViaMichelin</string>
					</dict>
					<key>URLString</key>
					<string>http://www.viamichelin.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>여행</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.kweather.co.kr/</string>
						<key>title</key>
						<string>케이웨더</string>
					</dict>
					<key>URLString</key>
					<string>http://www.kweather.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://map.hanmir.com/</string>
						<key>title</key>
						<string>한미르 지도</string>
					</dict>
					<key>URLString</key>
					<string>http://map.hanmir.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.bobaedream.co.kr/</string>
						<key>title</key>
						<string>보배드림</string>
					</dict>
					<key>URLString</key>
					<string>http://www.bobaedream.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.carecamp.com/</string>
						<key>title</key>
						<string>케어캠프</string>
					</dict>
					<key>URLString</key>
					<string>http://www.carecamp.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.doctor.co.kr/</string>
						<key>title</key>
						<string>닥터</string>
					</dict>
					<key>URLString</key>
					<string>http://www.doctor.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yes24.com/</string>
						<key>title</key>
						<string>YES24</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yes24.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.jobkorea.co.kr/</string>
						<key>title</key>
						<string>잡코리아</string>
					</dict>
					<key>URLString</key>
					<string>http://www.jobkorea.co.kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>유용한 정보</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>기타...</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkGroupTag</key>
	<string>12/19/2002</string>
</dict>
</plist>
