<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/se/</string>
						<key>title</key>
						<string>Apple</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mac.com/</string>
						<key>title</key>
						<string>.Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.com/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ebaysweden.com/</string>
						<key>title</key>
						<string>eBay</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ebaysweden.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://se.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo!</string>
					</dict>
					<key>URLString</key>
					<string>http://se.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://edition.cnn.com/</string>
								<key>title</key>
								<string>CNN</string>
							</dict>
							<key>URLString</key>
							<string>http://edition.cnn.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.aftonbladet.se/</string>
								<key>title</key>
								<string>Aftonbladet</string>
							</dict>
							<key>URLString</key>
							<string>http://www.aftonbladet.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.expressen.se/</string>
								<key>title</key>
								<string>Expressen</string>
							</dict>
							<key>URLString</key>
							<string>http://www.expressen.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.svd.se/</string>
								<key>title</key>
								<string>Svenska Dagbladet</string>
							</dict>
							<key>URLString</key>
							<string>http://www.svd.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.dn.se/</string>
								<key>title</key>
								<string>Dagens Nyheter</string>
							</dict>
							<key>URLString</key>
							<string>http://www.dn.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.bbc.co.uk/</string>
								<key>title</key>
								<string>BBC NEWS</string>
							</dict>
							<key>URLString</key>
							<string>http://news.bbc.co.uk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://cbs.marketwatch.com/</string>
								<key>title</key>
								<string>CBS MarketWatch</string>
							</dict>
							<key>URLString</key>
							<string>http://cbs.marketwatch.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.com.com/</string>
								<key>title</key>
								<string>CNET News.com</string>
							</dict>
							<key>URLString</key>
							<string>http://news.com.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.google.com/</string>
								<key>title</key>
								<string>Google News</string>
							</dict>
							<key>URLString</key>
							<string>http://news.google.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Nyheter</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Bokmärkesrad</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://edition.cnn.com/</string>
						<key>title</key>
						<string>CNN</string>
					</dict>
					<key>URLString</key>
					<string>http://edition.cnn.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.aftonbladet.se/</string>
						<key>title</key>
						<string>Aftonbladet</string>
					</dict>
					<key>URLString</key>
					<string>http://www.aftonbladet.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.expressen.se/</string>
						<key>title</key>
						<string>Expressen</string>
					</dict>
					<key>URLString</key>
					<string>http://www.expressen.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.svd.se</string>
						<key>title</key>
						<string>Svenska Dagbladet</string>
					</dict>
					<key>URLString</key>
					<string>http://www.svd.se</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.dn.se/</string>
						<key>title</key>
						<string>Dagens Nyheter</string>
					</dict>
					<key>URLString</key>
					<string>http://www.dn.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://svt.se/</string>
						<key>title</key>
						<string>SVT Nyheter</string>
					</dict>
					<key>URLString</key>
					<string>http://svt.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.di.se/</string>
						<key>title</key>
						<string>Dagens Industri</string>
					</dict>
					<key>URLString</key>
					<string>http://www.di.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Nyheter</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://guide.apple.com/se/</string>
						<key>title</key>
						<string>Macintosh Produktguide</string>
					</dict>
					<key>URLString</key>
					<string>http://guide.apple.com/se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/downloads/macosx/</string>
						<key>title</key>
						<string>Mac OS X-program</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/downloads/macosx/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maccentral.macworld.com/</string>
						<key>title</key>
						<string>MacCentral</string>
					</dict>
					<key>URLString</key>
					<string>http://maccentral.macworld.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://macworld.idg.se/</string>
						<key>title</key>
						<string>MacWorld</string>
					</dict>
					<key>URLString</key>
					<string>http://macworld.idg.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://insidemacgames.com/</string>
						<key>title</key>
						<string>Inside Mac Games</string>
					</dict>
					<key>URLString</key>
					<string>http://insidemacgames.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://versiontracker.com/</string>
						<key>title</key>
						<string>VersionTracker</string>
					</dict>
					<key>URLString</key>
					<string>http://versiontracker.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.microsoft.com/mac/</string>
						<key>title</key>
						<string>Microsoft Mactopia</string>
					</dict>
					<key>URLString</key>
					<string>http://www.microsoft.com/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://macwindows.com/</string>
						<key>title</key>
						<string>MacWindows</string>
					</dict>
					<key>URLString</key>
					<string>http://macwindows.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Mac</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kids.discovery.com/</string>
						<key>title</key>
						<string>Discovery Kids</string>
					</dict>
					<key>URLString</key>
					<string>http://kids.discovery.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://svt.se/bolibompa</string>
						<key>title</key>
						<string>Bolibompa</string>
					</dict>
					<key>URLString</key>
					<string>http://svt.se/bolibompa</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.howstuffworks.com/</string>
						<key>title</key>
						<string>HowStuffWorks</string>
					</dict>
					<key>URLString</key>
					<string>http://www.howstuffworks.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nationalgeographic.com/</string>
						<key>title</key>
						<string>National Geographic</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nationalgeographic.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yahooligans.com/</string>
						<key>title</key>
						<string>Yahooligans!</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yahooligans.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.disney.se/</string>
						<key>title</key>
						<string>Disney</string>
					</dict>
					<key>URLString</key>
					<string>http://www.disney.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.busungar.com</string>
						<key>title</key>
						<string>Busungar</string>
					</dict>
					<key>URLString</key>
					<string>http://www.busungar.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nrm.se</string>
						<key>title</key>
						<string>Naturhistoriska</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nrm.se</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.astridlindgren.se</string>
						<key>title</key>
						<string>Astrid Lindgren</string>
					</dict>
					<key>URLString</key>
					<string>http://www.astridlindgren.se</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.alfons.se/</string>
						<key>title</key>
						<string>Alfons</string>
					</dict>
					<key>URLString</key>
					<string>http://www.alfons.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.bamse.net</string>
						<key>title</key>
						<string>Bamse</string>
					</dict>
					<key>URLString</key>
					<string>http://www.bamse.net</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Barn</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://svt.se/sport</string>
						<key>title</key>
						<string>SVT Sport</string>
					</dict>
					<key>URLString</key>
					<string>http://svt.se/sport</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.aftonbladet.se/sport/sport.html</string>
						<key>title</key>
						<string>Sportbladet</string>
					</dict>
					<key>URLString</key>
					<string>http://www.aftonbladet.se/sport/sport.html</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tv4.se/sporten/</string>
						<key>title</key>
						<string>TV4 Sport</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tv4.se/sporten/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.innebandy.se/</string>
						<key>title</key>
						<string>Svensk innebandy</string>
					</dict>
					<key>URLString</key>
					<string>http://www.innebandy.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.svenskfotboll.se/</string>
						<key>title</key>
						<string>Svensk fotboll</string>
					</dict>
					<key>URLString</key>
					<string>http://www.svenskfotboll.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.swehockey.se/</string>
						<key>title</key>
						<string>Swehockey</string>
					</dict>
					<key>URLString</key>
					<string>http://www.swehockey.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.basket.se/</string>
						<key>title</key>
						<string>Svensk basket</string>
					</dict>
					<key>URLString</key>
					<string>http://www.basket.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.golfdigest.se/</string>
						<key>title</key>
						<string>Golf Digest</string>
					</dict>
					<key>URLString</key>
					<string>http://www.golfdigest.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.thexlounge.com</string>
						<key>title</key>
						<string>Xlounge</string>
					</dict>
					<key>URLString</key>
					<string>http://www.thexlounge.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Sport</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ticnet.se</string>
						<key>title</key>
						<string>Ticnet</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ticnet.se</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://rollingstone.com/</string>
						<key>title</key>
						<string>Rolling Stone</string>
					</dict>
					<key>URLString</key>
					<string>http://rollingstone.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://billboard.com/</string>
						<key>title</key>
						<string>Billboard</string>
					</dict>
					<key>URLString</key>
					<string>http://billboard.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://imdb.com/</string>
						<key>title</key>
						<string>Internet Movie Database</string>
					</dict>
					<key>URLString</key>
					<string>http://imdb.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://international.eonline.com</string>
						<key>title</key>
						<string>E! Online</string>
					</dict>
					<key>URLString</key>
					<string>http://international.eonline.com</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/trailers/</string>
						<key>title</key>
						<string>QuickTime Movie Trailers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/trailers/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.warnerbros.com/</string>
						<key>title</key>
						<string>Warner Brothers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.warnerbros.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tv.nu/</string>
						<key>title</key>
						<string>TV idag</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tv.nu/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Underhållning</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.com/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://store.apple.com/Apple/WebObjects/swedenstore/</string>
						<key>title</key>
						<string>Apple Store</string>
					</dict>
					<key>URLString</key>
					<string>http://store.apple.com/Apple/WebObjects/swedenstore/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ebaysweden.com/</string>
						<key>title</key>
						<string>eBay</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ebaysweden.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.reseguiden.se/</string>
						<key>title</key>
						<string>Reseguiden</string>
					</dict>
					<key>URLString</key>
					<string>http://www.reseguiden.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://paypal.com/</string>
						<key>title</key>
						<string>PayPal</string>
					</dict>
					<key>URLString</key>
					<string>http://paypal.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.interflora.se/</string>
						<key>title</key>
						<string>Interflora</string>
					</dict>
					<key>URLString</key>
					<string>http://www.interflora.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://se.pricerunner.com/</string>
						<key>title</key>
						<string>Pricerunner</string>
					</dict>
					<key>URLString</key>
					<string>http://se.pricerunner.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://shopper.cnet.com/</string>
						<key>title</key>
						<string>CNET Shopper</string>
					</dict>
					<key>URLString</key>
					<string>http://shopper.cnet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Shopping</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.reseguiden.se/</string>
						<key>title</key>
						<string>Reseguiden</string>
					</dict>
					<key>URLString</key>
					<string>http://www.reseguiden.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.resfeber.se/</string>
						<key>title</key>
						<string>Resfeber</string>
					</dict>
					<key>URLString</key>
					<string>http://www.resfeber.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mrjet.com/</string>
						<key>title</key>
						<string>MrJet</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mrjet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.alltomstockholm.se/</string>
						<key>title</key>
						<string>Allt om Stockholm</string>
					</dict>
					<key>URLString</key>
					<string>http://www.alltomstockholm.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.alltomgoteborg.tv4.se/</string>
						<key>title</key>
						<string>Allt om Göteborg</string>
					</dict>
					<key>URLString</key>
					<string>http://www.alltomgoteborg.tv4.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.alltommalmo.tv4.se/</string>
						<key>title</key>
						<string>Allt om Malmö</string>
					</dict>
					<key>URLString</key>
					<string>http://www.alltommalmo.tv4.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://lonelyplanet.com/</string>
						<key>title</key>
						<string>Lonely Planet</string>
					</dict>
					<key>URLString</key>
					<string>http://lonelyplanet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.viamichelin.com/</string>
						<key>title</key>
						<string>ViaMichelin</string>
					</dict>
					<key>URLString</key>
					<string>http://www.viamichelin.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Resor</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://edition.cnn.com/WEATHER/</string>
						<key>title</key>
						<string>CNN weather</string>
					</dict>
					<key>URLString</key>
					<string>http://edition.cnn.com/WEATHER/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mapquest.com/</string>
						<key>title</key>
						<string>MapQuest</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mapquest.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.bilweb.se/</string>
						<key>title</key>
						<string>Bilweb</string>
					</dict>
					<key>URLString</key>
					<string>http://www.bilweb.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.netdoktor.se/</string>
						<key>title</key>
						<string>NetDoktor</string>
					</dict>
					<key>URLString</key>
					<string>http://www.netdoktor.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.bokus.com/se/</string>
						<key>title</key>
						<string>Bokus</string>
					</dict>
					<key>URLString</key>
					<string>http://www.bokus.com/se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.monster.com/</string>
						<key>title</key>
						<string>Monster.com</string>
					</dict>
					<key>URLString</key>
					<string>http://www.monster.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Hjälp och tips</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Övrigt…</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkGroupTag</key>
	<string>12/19/2002</string>
</dict>
</plist>
