<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.co.jp/</string>
						<key>title</key>
						<string>アップル</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mac.com/japan/</string>
						<key>title</key>
						<string>.Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mac.com/japan/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.co.jp/</string>
						<key>title</key>
						<string>Amazon.co.jp</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yahoo.co.jp/</string>
						<key>title</key>
						<string>Yahoo! JAPAN</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yahoo.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.cnn.co.jp/</string>
								<key>title</key>
								<string>CNN.co.jp</string>
							</dict>
							<key>URLString</key>
							<string>http://www.cnn.co.jp/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://japan.cnet.com/</string>
								<key>title</key>
								<string>CNET Japan</string>
							</dict>
							<key>URLString</key>
							<string>http://japan.cnet.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.asahi.com/</string>
								<key>title</key>
								<string>アサヒ・コム</string>
							</dict>
							<key>URLString</key>
							<string>http://www.asahi.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.yomiuri.co.jp/</string>
								<key>title</key>
								<string>YOMIURI ON-LINE</string>
							</dict>
							<key>URLString</key>
							<string>http://www.yomiuri.co.jp/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.mainichi.co.jp/</string>
								<key>title</key>
								<string>Mainichi INTERACTIVE</string>
							</dict>
							<key>URLString</key>
							<string>http://www.mainichi.co.jp/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.nikkei.co.jp/</string>
								<key>title</key>
								<string>NIKKEI NET</string>
							</dict>
							<key>URLString</key>
							<string>http://www.nikkei.co.jp/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>ニュース</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>ブックマークバー</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.cnn.co.jp/</string>
						<key>title</key>
						<string>CNN.co.jp</string>
					</dict>
					<key>URLString</key>
					<string>http://www.cnn.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://japan.cnet.com/</string>
						<key>title</key>
						<string>CNET Japan</string>
					</dict>
					<key>URLString</key>
					<string>http://japan.cnet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.asahi.com/</string>
						<key>title</key>
						<string>アサヒ・コム</string>
					</dict>
					<key>URLString</key>
					<string>http://www.asahi.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yomiuri.co.jp/</string>
						<key>title</key>
						<string>YOMIURI ON-LINE</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yomiuri.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mainichi.co.jp/</string>
						<key>title</key>
						<string>Mainichi INTERACTIVE</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mainichi.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nikkei.co.jp/</string>
						<key>title</key>
						<string>NIKKEI NET</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nikkei.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>ニュース</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://guide.apple.com/jp/index.lasso</string>
						<key>title</key>
						<string>Macintosh製品ガイド</string>
					</dict>
					<key>URLString</key>
					<string>http://guide.apple.com/jp/index.lasso</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.co.jp/downloads/macosx/</string>
						<key>title</key>
						<string>Mac OS Xダウンロード</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.co.jp/downloads/macosx/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.microsoft.com/japan/mac/</string>
						<key>title</key>
						<string>Microsoft Mactopia Japan</string>
					</dict>
					<key>URLString</key>
					<string>http://www.microsoft.com/japan/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://macfannet.mycom.co.jp/</string>
						<key>title</key>
						<string>Mac Fan Net</string>
					</dict>
					<key>URLString</key>
					<string>http://macfannet.mycom.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ascii.co.jp/pb/macpower/</string>
						<key>title</key>
						<string>MacPower Web</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ascii.co.jp/pb/macpower/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ascii.co.jp/pb/macpeople/</string>
						<key>title</key>
						<string>MacPeopleWeb</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ascii.co.jp/pb/macpeople/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.zdnet.co.jp/products/mac/</string>
						<key>title</key>
						<string>PCUPdate：Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.zdnet.co.jp/products/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Mac</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kids.yahoo.co.jp/</string>
						<key>title</key>
						<string>Yahoo!きっず</string>
					</dict>
					<key>URLString</key>
					<string>http://kids.yahoo.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.disney.co.jp/</string>
						<key>title</key>
						<string>Disney.co.jp</string>
					</dict>
					<key>URLString</key>
					<string>http://www.disney.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kids.goo.ne.jp/</string>
						<key>title</key>
						<string>キッズgoo</string>
					</dict>
					<key>URLString</key>
					<string>http://kids.goo.ne.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.discovery.panasonic.co.jp/</string>
						<key>title</key>
						<string>探検キッズ</string>
					</dict>
					<key>URLString</key>
					<string>http://www.discovery.panasonic.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>キッズ</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.npb.or.jp/</string>
						<key>title</key>
						<string>日本野球機構</string>
					</dict>
					<key>URLString</key>
					<string>http://www.npb.or.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.j-league.or.jp/</string>
						<key>title</key>
						<string>Jリーグ</string>
					</dict>
					<key>URLString</key>
					<string>http://www.j-league.or.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sports.yahoo.co.jp/</string>
						<key>title</key>
						<string>Yahoo!スポーツ</string>
					</dict>
					<key>URLString</key>
					<string>http://sports.yahoo.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sumo.or.jp/</string>
						<key>title</key>
						<string>大相撲ホームページ</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sumo.or.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sports-i.co.jp/</string>
						<key>title</key>
						<string>スポーツ・アイESPN</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sports-i.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://f1express.cnc.ne.jp/</string>
						<key>title</key>
						<string>中日新聞 F1 EXPRESS</string>
					</dict>
					<key>URLString</key>
					<string>http://f1express.cnc.ne.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://golf.nikkei.co.jp/</string>
						<key>title</key>
						<string>NIKKEI GOLF GUIDE</string>
					</dict>
					<key>URLString</key>
					<string>http://golf.nikkei.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>スポーツ</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/trailers/</string>
						<key>title</key>
						<string>QuickTime Movie Trailers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/trailers/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.pia.co.jp/</string>
						<key>title</key>
						<string>@ぴあ</string>
					</dict>
					<key>URLString</key>
					<string>http://www.pia.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.oricon.co.jp/</string>
						<key>title</key>
						<string>オリコン ENTERTAINMENT SITE</string>
					</dict>
					<key>URLString</key>
					<string>http://www.oricon.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://eee.eplus.co.jp/</string>
						<key>title</key>
						<string>e+</string>
					</dict>
					<key>URLString</key>
					<string>http://eee.eplus.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.television.co.jp/</string>
						<key>title</key>
						<string>Webザテレビジョン</string>
					</dict>
					<key>URLString</key>
					<string>http://www.television.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.eiga.com/</string>
						<key>title</key>
						<string>eiga.com</string>
					</dict>
					<key>URLString</key>
					<string>http://www.eiga.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>エンターテインメント</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.co.jp/</string>
						<key>title</key>
						<string>Amazon.co.jp</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/japanstore/</string>
						<key>title</key>
						<string>Apple Store</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/japanstore/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.kakaku.com/</string>
						<key>title</key>
						<string>価格.com</string>
					</dict>
					<key>URLString</key>
					<string>http://www.kakaku.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.rakuten.co.jp/</string>
						<key>title</key>
						<string>楽天市場</string>
					</dict>
					<key>URLString</key>
					<string>http://www.rakuten.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.i879.com/</string>
						<key>title</key>
						<string>インターネット花キューピット</string>
					</dict>
					<key>URLString</key>
					<string>http://www.i879.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>ショッピング</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.pubanzen.mofa.go.jp/</string>
						<key>title</key>
						<string>海外安全ホームページ</string>
					</dict>
					<key>URLString</key>
					<string>http://www.pubanzen.mofa.go.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ryoko.info/</string>
						<key>title</key>
						<string>旅行.info</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ryoko.info/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.arukikata.co.jp/</string>
						<key>title</key>
						<string>地球の歩き方</string>
					</dict>
					<key>URLString</key>
					<string>http://www.arukikata.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.jalan.net/</string>
						<key>title</key>
						<string>イサイズじゃらん</string>
					</dict>
					<key>URLString</key>
					<string>http://www.jalan.net/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>旅行</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mapion.co.jp/</string>
						<key>title</key>
						<string>Mapion</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mapion.co.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://tenki.jp/</string>
						<key>title</key>
						<string>tenki.jp</string>
					</dict>
					<key>URLString</key>
					<string>http://tenki.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.health-net.or.jp/</string>
						<key>title</key>
						<string>健康ネット</string>
					</dict>
					<key>URLString</key>
					<string>http://www.health-net.or.jp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.jorudan.co.jp/norikae/norimap.html</string>
						<key>title</key>
						<string>Mapで検索 乗換案内</string>
					</dict>
					<key>URLString</key>
					<string>http://www.jorudan.co.jp/norikae/norimap.html</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>お役立ちサイト</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>その他…</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkGroupTag</key>
	<string>12/19/2002</string>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
</dict>
</plist>
