<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com.tw/</string>
						<key>title</key>
						<string>蘋果電腦</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mac.com/</string>
						<key>title</key>
						<string>.Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.com/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ebay.com.tw/</string>
						<key>title</key>
						<string>eBay 台灣</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ebay.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://tw.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo!奇摩</string>
					</dict>
					<key>URLString</key>
					<string>http://tw.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ftvn.com.tw/</string>
								<key>title</key>
								<string>民視新聞網</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ftvn.com.tw/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.taiwandaily.com.tw/</string>
								<key>title</key>
								<string>台灣日報</string>
							</dict>
							<key>URLString</key>
							<string>http://www.taiwandaily.com.tw/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.libertytimes.com.tw/</string>
								<key>title</key>
								<string>自由時報</string>
							</dict>
							<key>URLString</key>
							<string>http://www.libertytimes.com.tw/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.chinatimes.com.tw/</string>
								<key>title</key>
								<string>中國時報</string>
							</dict>
							<key>URLString</key>
							<string>http://www.chinatimes.com.tw/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.udnnews.com.tw/</string>
								<key>title</key>
								<string>聯合新聞網</string>
							</dict>
							<key>URLString</key>
							<string>http://www.udnnews.com.tw/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.yam.com/</string>
								<key>title</key>
								<string>蕃薯藤新聞</string>
							</dict>
							<key>URLString</key>
							<string>http://news.yam.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ithome.com.tw/</string>
								<key>title</key>
								<string>iThome 電腦報</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ithome.com.tw/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>新聞</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>書籤列</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ftvn.com.tw/</string>
						<key>title</key>
						<string>民視新聞網</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ftvn.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.taiwandaily.com.tw/</string>
						<key>title</key>
						<string>台灣日報</string>
					</dict>
					<key>URLString</key>
					<string>http://www.taiwandaily.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.libertytimes.com.tw/</string>
						<key>title</key>
						<string>自由時報</string>
					</dict>
					<key>URLString</key>
					<string>http://www.libertytimes.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.chinatimes.com.tw/</string>
						<key>title</key>
						<string>中國時報</string>
					</dict>
					<key>URLString</key>
					<string>http://www.chinatimes.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.udnnews.com.tw/</string>
						<key>title</key>
						<string>聯合新聞網</string>
					</dict>
					<key>URLString</key>
					<string>http://www.udnnews.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://news.yam.com/</string>
						<key>title</key>
						<string>蕃薯藤新聞</string>
					</dict>
					<key>URLString</key>
					<string>http://news.yam.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ithome.com.tw/</string>
						<key>title</key>
						<string>iThome 電腦報</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ithome.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>新聞</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com.tw/guide/</string>
						<key>title</key>
						<string>蘋果電腦周邊產品指南</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com.tw/guide/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/downloads/macosx/</string>
						<key>title</key>
						<string>Mac OS X 下載</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/downloads/macosx/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.maczin.com/</string>
						<key>title</key>
						<string>MacZin</string>
					</dict>
					<key>URLString</key>
					<string>http://www.maczin.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.oikos.com.tw/</string>
						<key>title</key>
						<string>OIKOS 生活網</string>
					</dict>
					<key>URLString</key>
					<string>http://www.oikos.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.frostyplace.com/</string>
						<key>title</key>
						<string>老地方冰果室</string>
					</dict>
					<key>URLString</key>
					<string>http://www.frostyplace.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://versiontracker.com/</string>
						<key>title</key>
						<string>VersionTracker</string>
					</dict>
					<key>URLString</key>
					<string>http://versiontracker.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.microsoft.com/mac/</string>
						<key>title</key>
						<string>Microsoft Mactopia</string>
					</dict>
					<key>URLString</key>
					<string>http://www.microsoft.com/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maccentral.macworld.com/</string>
						<key>title</key>
						<string>MacCentral</string>
					</dict>
					<key>URLString</key>
					<string>http://maccentral.macworld.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Mac</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kids.discovery.com/</string>
						<key>title</key>
						<string>Discovery Kids</string>
					</dict>
					<key>URLString</key>
					<string>http://kids.discovery.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kids.yam.com/</string>
						<key>title</key>
						<string>小蕃薯</string>
					</dict>
					<key>URLString</key>
					<string>http://kids.yam.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.bud.org.tw/</string>
						<key>title</key>
						<string>科學小芽子</string>
					</dict>
					<key>URLString</key>
					<string>http://www.bud.org.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nationalgeographic.com.tw/</string>
						<key>title</key>
						<string>國家地理雜誌中文網</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nationalgeographic.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yahooligans.com/</string>
						<key>title</key>
						<string>Yahooligans!</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yahooligans.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://disney.go.com/</string>
						<key>title</key>
						<string>迪士尼</string>
					</dict>
					<key>URLString</key>
					<string>http://disney.go.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://digimuse.nmns.edu.tw/NDAP/TopIndex.jsp</string>
						<key>title</key>
						<string>國家典藏數位博物館</string>
					</dict>
					<key>URLString</key>
					<string>http://digimuse.nmns.edu.tw/NDAP/TopIndex.jsp</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>兒童</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.espnstar.com.tw/</string>
						<key>title</key>
						<string>ESPNSTAR 中文網</string>
					</dict>
					<key>URLString</key>
					<string>http://www.espnstar.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sport.videoland.com.tw/</string>
						<key>title</key>
						<string>緯來體育台</string>
					</dict>
					<key>URLString</key>
					<string>http://sport.videoland.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sports.yam.com/</string>
						<key>title</key>
						<string>蕃薯藤運動網</string>
					</dict>
					<key>URLString</key>
					<string>http://sports.yam.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.cpbl.com.tw/</string>
						<key>title</key>
						<string>中華職業棒球聯盟</string>
					</dict>
					<key>URLString</key>
					<string>http://www.cpbl.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sports.yam.com/soccer/</string>
						<key>title</key>
						<string>蕃薯藤-運動-足球</string>
					</dict>
					<key>URLString</key>
					<string>http://sports.yam.com/soccer/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sports.yam.com/basketball/</string>
						<key>title</key>
						<string>蕃薯藤-運動-藍球</string>
					</dict>
					<key>URLString</key>
					<string>http://sports.yam.com/basketball/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nba.com/</string>
						<key>title</key>
						<string>National Basketball Association</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nba.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sports.yam.com/golf/</string>
						<key>title</key>
						<string>蕃薯藤-運動-高爾夫</string>
					</dict>
					<key>URLString</key>
					<string>http://sports.yam.com/golf/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>運動</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ticket.com.tw/</string>
						<key>title</key>
						<string>年代售票</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ticket.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yukuang.com.tw/</string>
						<key>title</key>
						<string>余光音樂網</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yukuang.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mtvchinese.com/Music/Charts/Mandarin/</string>
						<key>title</key>
						<string>MTV 封神榜</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mtvchinese.com/Music/Charts/Mandarin/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://imdb.com/</string>
						<key>title</key>
						<string>Internet 電影資料庫</string>
					</dict>
					<key>URLString</key>
					<string>http://imdb.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://tw.news.yahoo.com/entertain/</string>
						<key>title</key>
						<string>Yahoo!奇摩-影視</string>
					</dict>
					<key>URLString</key>
					<string>http://tw.news.yahoo.com/entertain/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/trailers/</string>
						<key>title</key>
						<string>QuickTime 電影預告片</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/trailers/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.warnerbros.com/</string>
						<key>title</key>
						<string>華納</string>
					</dict>
					<key>URLString</key>
					<string>http://www.warnerbros.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://showbiz.chinatimes.com/</string>
						<key>title</key>
						<string>中網娛樂</string>
					</dict>
					<key>URLString</key>
					<string>http://showbiz.chinatimes.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>娛樂</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.com/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://store.apple.com/</string>
						<key>title</key>
						<string>Apple Store</string>
					</dict>
					<key>URLString</key>
					<string>http://store.apple.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ebay.com.tw/</string>
						<key>title</key>
						<string>eBay 台灣</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ebay.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.travelking.com.tw/</string>
						<key>title</key>
						<string>旅遊王</string>
					</dict>
					<key>URLString</key>
					<string>http://www.travelking.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.buyflower365.com/</string>
						<key>title</key>
						<string>e 速花視訊花店網</string>
					</dict>
					<key>URLString</key>
					<string>http://www.buyflower365.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://tw.shopping.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo!奇摩-購物</string>
					</dict>
					<key>URLString</key>
					<string>http://tw.shopping.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://shopping.yam.com/</string>
						<key>title</key>
						<string>蕃薯藤購物</string>
					</dict>
					<key>URLString</key>
					<string>http://shopping.yam.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://shoppingguide.ithome.com.tw/</string>
						<key>title</key>
						<string>iThome 採購情報</string>
					</dict>
					<key>URLString</key>
					<string>http://shoppingguide.ithome.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>購物</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://travel.kingnet.com.tw/</string>
						<key>title</key>
						<string>KingNet 旅遊局</string>
					</dict>
					<key>URLString</key>
					<string>http://travel.kingnet.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://travel.yam.com/</string>
						<key>title</key>
						<string>蕃薯藤-旅遊</string>
					</dict>
					<key>URLString</key>
					<string>http://travel.yam.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://travel.mook.com.tw/</string>
						<key>title</key>
						<string>MOOK 自由自在旅遊網</string>
					</dict>
					<key>URLString</key>
					<string>http://travel.mook.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ezfly.com.tw/</string>
						<key>title</key>
						<string>易飛網</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ezfly.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.travelking.com.tw/</string>
						<key>title</key>
						<string>旅遊王</string>
					</dict>
					<key>URLString</key>
					<string>http://www.travelking.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://lonelyplanet.com/</string>
						<key>title</key>
						<string>勇闖天涯</string>
					</dict>
					<key>URLString</key>
					<string>http://lonelyplanet.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://eztravel.com.tw/</string>
						<key>title</key>
						<string>易遊網</string>
					</dict>
					<key>URLString</key>
					<string>http://eztravel.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>旅遊</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://weather.yam.com/</string>
						<key>title</key>
						<string>蕃薯藤天氣</string>
					</dict>
					<key>URLString</key>
					<string>http://weather.yam.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maps.yam.com/yam/travel/travel.asp</string>
						<key>title</key>
						<string>蕃薯藤電子地圖</string>
					</dict>
					<key>URLString</key>
					<string>http://maps.yam.com/yam/travel/travel.asp</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.commonhealth.com.tw/</string>
						<key>title</key>
						<string>康健雜誌</string>
					</dict>
					<key>URLString</key>
					<string>http://www.commonhealth.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.webhospital.org.tw/</string>
						<key>title</key>
						<string>KingNet 國家網路醫院</string>
					</dict>
					<key>URLString</key>
					<string>http://www.webhospital.org.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.eslitebooks.com/</string>
						<key>title</key>
						<string>誠品書店</string>
					</dict>
					<key>URLString</key>
					<string>http://www.eslitebooks.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.1111.com.tw/</string>
						<key>title</key>
						<string>1111 人力銀行</string>
					</dict>
					<key>URLString</key>
					<string>http://www.1111.com.tw/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>參考工具</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>其他⋯</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkGroupTag</key>
	<string>12/19/2002</string>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
</dict>
</plist>
