<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>dock</key>
	<array>
		<dict>
			<key>command</key>
			<integer>1011</integer>
			<key>name</key>
			<string>“拡大”機能を入にする</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1012</integer>
			<key>name</key>
			<string>“拡大”機能を切にする</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1009</integer>
			<key>name</key>
			<string>“自動的に隠す”機能を入にする</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1010</integer>
			<key>name</key>
			<string>“自動的に隠す”機能を切にする</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1013</integer>
			<key>name</key>
			<string>自動配置</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>1018</integer>
					<key>name</key>
					<string>左</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1017</integer>
					<key>name</key>
					<string>下</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1019</integer>
					<key>name</key>
					<string>右</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<integer>1029</integer>
			<key>name</key>
			<string>しまうときのエフェクト</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>1030</integer>
					<key>name</key>
					<string>ジニーエフェクト</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1031</integer>
					<key>name</key>
					<string>スケールエフェクト</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1015</integer>
			<key>name</key>
			<string>Dock 環境設定…</string>
		</dict>
	</array>
	<key>file</key>
	<array>
		<dict>
			<key>command</key>
			<integer>1005</integer>
			<key>name</key>
			<string>Finder に表示する</string>
		</dict>
	</array>
	<key>finder-quit</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2002</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Finder は実行されていません</string>
		</dict>
	</array>
	<key>finder-running</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2002</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>アプリケーションが応答しません</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2001</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>ウインドウがありません</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1003</integer>
			<key>dynamic</key>
			<integer>0</integer>
			<key>name</key>
			<string>終了</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1024</integer>
			<key>dynamic</key>
			<integer>1</integer>
			<key>name</key>
			<string>強制終了</string>
		</dict>
	</array>
	<key>folder</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1005</integer>
			<key>name</key>
			<string>Finder に表示する</string>
		</dict>
	</array>
	<key>minwindow</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2003</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>ウインドウをしまう</string>
		</dict>
	</array>
	<key>process</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2002</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>アプリケーションが応答しません</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1002</integer>
			<key>name</key>
			<string>Dock に保存する</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1005</integer>
			<key>name</key>
			<string>Finder に表示する</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1003</integer>
			<key>dynamic</key>
			<integer>0</integer>
			<key>name</key>
			<string>終了</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1024</integer>
			<key>dynamic</key>
			<integer>1</integer>
			<key>name</key>
			<string>強制終了</string>
		</dict>
	</array>
	<key>trash</key>
	<array>
		<dict>
			<key>command</key>
			<integer>1001</integer>
			<key>name</key>
			<string>ゴミ箱を空にする</string>
		</dict>
	</array>
	<key>url</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2002</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>URL</string>
		</dict>
	</array>
</dict>
</plist>
