<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/de/</string>
						<key>title</key>
						<string>Apple</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/de/mac/</string>
						<key>title</key>
						<string>.Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/de/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.de/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://ebay.de/</string>
						<key>title</key>
						<string>eBay</string>
					</dict>
					<key>URLString</key>
					<string>http://ebay.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yahoo.de/</string>
						<key>title</key>
						<string>Yahoo!</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yahoo.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.n-tv.de/</string>
								<key>title</key>
								<string>n-tv.de</string>
							</dict>
							<key>URLString</key>
							<string>http://www.n-tv.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.faz.net/</string>
								<key>title</key>
								<string>FAZ.NET</string>
							</dict>
							<key>URLString</key>
							<string>http://www.faz.net/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.sueddeutsche.de/</string>
								<key>title</key>
								<string>Süddeutsche</string>
							</dict>
							<key>URLString</key>
							<string>http://www.sueddeutsche.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.tagesschau.de/</string>
								<key>title</key>
								<string>tagesschau</string>
							</dict>
							<key>URLString</key>
							<string>http://www.tagesschau.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ftd.de/</string>
								<key>title</key>
								<string>Financial Times</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ftd.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.zdnet.de/</string>
								<key>title</key>
								<string>ZDNet.de News</string>
							</dict>
							<key>URLString</key>
							<string>http://news.zdnet.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://de.news.yahoo.com/</string>
								<key>title</key>
								<string>Yahoo! Nachrichten</string>
							</dict>
							<key>URLString</key>
							<string>http://de.news.yahoo.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>News</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Lesezeichenleiste</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.n-tv.de/</string>
						<key>title</key>
						<string>n-tv.de</string>
					</dict>
					<key>URLString</key>
					<string>http://www.n-tv.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.faz.net/</string>
						<key>title</key>
						<string>FAZ.NET</string>
					</dict>
					<key>URLString</key>
					<string>http://www.faz.net/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sueddeutsche.de/</string>
						<key>title</key>
						<string>Süddeutsche</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sueddeutsche.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tagesschau.de/</string>
						<key>title</key>
						<string>tagesschau</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tagesschau.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ftd.de/</string>
						<key>title</key>
						<string>Financial Times</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ftd.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://news.zdnet.de/</string>
						<key>title</key>
						<string>ZDNet.de News</string>
					</dict>
					<key>URLString</key>
					<string>http://news.zdnet.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://de.news.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo! Nachrichten</string>
					</dict>
					<key>URLString</key>
					<string>http://de.news.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>News</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://guide.apple.com/de/</string>
						<key>title</key>
						<string>Macintosh Produktkatalog</string>
					</dict>
					<key>URLString</key>
					<string>http://guide.apple.com/de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/de/downloads/macosx/</string>
						<key>title</key>
						<string>Mac OS X Downloads</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/de/downloads/macosx/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.macnews.de/</string>
						<key>title</key>
						<string>macnews.de</string>
					</dict>
					<key>URLString</key>
					<string>http://www.macnews.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.macwelt.de/</string>
						<key>title</key>
						<string>Macwelt</string>
					</dict>
					<key>URLString</key>
					<string>http://www.macwelt.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://insidemacgames.com/</string>
						<key>title</key>
						<string>Inside Mac Games</string>
					</dict>
					<key>URLString</key>
					<string>http://insidemacgames.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://versiontracker.com/</string>
						<key>title</key>
						<string>VersionTracker</string>
					</dict>
					<key>URLString</key>
					<string>http://versiontracker.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.microsoft.com/GERMANY/ms/mac/</string>
						<key>title</key>
						<string>Mac @ Microsoft</string>
					</dict>
					<key>URLString</key>
					<string>http://www.microsoft.com/GERMANY/ms/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mactechnews.de/</string>
						<key>title</key>
						<string>MacTechNews.de</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mactechnews.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Mac</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.kika.de/</string>
						<key>title</key>
						<string>Kinderkanal</string>
					</dict>
					<key>URLString</key>
					<string>http://www.kika.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://die-maus.de/</string>
						<key>title</key>
						<string>Die Seite mit der Maus</string>
					</dict>
					<key>URLString</key>
					<string>http://die-maus.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.wasistwas.de/</string>
						<key>title</key>
						<string>WAS IST WAS</string>
					</dict>
					<key>URLString</key>
					<string>http://www.wasistwas.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.geo.de/GEOlino/</string>
						<key>title</key>
						<string>GEOlino.de</string>
					</dict>
					<key>URLString</key>
					<string>http://www.geo.de/GEOlino/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.blinde-kuh.de/</string>
						<key>title</key>
						<string>Die Blinde Kuh</string>
					</dict>
					<key>URLString</key>
					<string>http://www.blinde-kuh.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.disney.de/</string>
						<key>title</key>
						<string>Disney</string>
					</dict>
					<key>URLString</key>
					<string>http://www.disney.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.internet-abc.net/daten/html/</string>
						<key>title</key>
						<string>internet abc</string>
					</dict>
					<key>URLString</key>
					<string>http://www.internet-abc.net/daten/html/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.deutsches-museum.de/bildung/akademie/</string>
						<key>title</key>
						<string>Deutsches Museum</string>
					</dict>
					<key>URLString</key>
					<string>http://www.deutsches-museum.de/bildung/akademie/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Kids</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://de.sports.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo! Sport</string>
					</dict>
					<key>URLString</key>
					<string>http://de.sports.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sport1.de/</string>
						<key>title</key>
						<string>Sport1.de</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sport1.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.premiere.de/content/Programm_Sport_Start.jsp</string>
						<key>title</key>
						<string>Premiere Sport</string>
					</dict>
					<key>URLString</key>
					<string>http://www.premiere.de/content/Programm_Sport_Start.jsp</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sport.ard.de/sp/</string>
						<key>title</key>
						<string>sport.ARD.de</string>
					</dict>
					<key>URLString</key>
					<string>http://sport.ard.de/sp/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.dfb.de/</string>
						<key>title</key>
						<string>Deutscher Fussball-Bund</string>
					</dict>
					<key>URLString</key>
					<string>http://www.dfb.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sportbild.de/</string>
						<key>title</key>
						<string>Sport Bild</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sportbild.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://t-sports.t-online.de/</string>
						<key>title</key>
						<string>T-Online Sports</string>
					</dict>
					<key>URLString</key>
					<string>http://t-sports.t-online.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.fitnessmeile.de/</string>
						<key>title</key>
						<string>fitnessmeile</string>
					</dict>
					<key>URLString</key>
					<string>http://www.fitnessmeile.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.freestyle24.de/</string>
						<key>title</key>
						<string>lokale Sportportale</string>
					</dict>
					<key>URLString</key>
					<string>http://www.freestyle24.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Sport</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ticketonline.de/</string>
						<key>title</key>
						<string>ticket online</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ticketonline.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.artmedia-entertainment.de/</string>
						<key>title</key>
						<string>Ticketdirekt.de</string>
					</dict>
					<key>URLString</key>
					<string>http://www.artmedia-entertainment.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.der-kartenvorverkauf.de/</string>
						<key>title</key>
						<string>Kartenvorverkauf</string>
					</dict>
					<key>URLString</key>
					<string>http://www.der-kartenvorverkauf.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://german.imdb.com/</string>
						<key>title</key>
						<string>Internet Movie Database</string>
					</dict>
					<key>URLString</key>
					<string>http://german.imdb.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.kino.de/</string>
						<key>title</key>
						<string>kino.de</string>
					</dict>
					<key>URLString</key>
					<string>http://www.kino.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/trailers/</string>
						<key>title</key>
						<string>QuickTime Movie Trailers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/trailers/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://t-music.t-online.de/</string>
						<key>title</key>
						<string>T-Online Music</string>
					</dict>
					<key>URLString</key>
					<string>http://t-music.t-online.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tvtoday.de/</string>
						<key>title</key>
						<string>TV Today</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tvtoday.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Entertainment</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.de/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/de/thestore/</string>
						<key>title</key>
						<string>Apple Store</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/de/thestore/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://ebay.de/</string>
						<key>title</key>
						<string>eBay</string>
					</dict>
					<key>URLString</key>
					<string>http://ebay.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://de.travel.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo! Reisen</string>
					</dict>
					<key>URLString</key>
					<string>http://de.travel.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.paybest.de/</string>
						<key>title</key>
						<string>Paybest</string>
					</dict>
					<key>URLString</key>
					<string>http://www.paybest.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.fleurop.de/</string>
						<key>title</key>
						<string>Fleurop</string>
					</dict>
					<key>URLString</key>
					<string>http://www.fleurop.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.evendi.de/</string>
						<key>title</key>
						<string>eVendi</string>
					</dict>
					<key>URLString</key>
					<string>http://www.evendi.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://smartshopper.de/</string>
						<key>title</key>
						<string>ZDNet.de Sm@rtShopper</string>
					</dict>
					<key>URLString</key>
					<string>http://smartshopper.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Shopping</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://reisen.t-online.de/</string>
						<key>title</key>
						<string>T-Online Reiseportal</string>
					</dict>
					<key>URLString</key>
					<string>http://reisen.t-online.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.travelocity.de/</string>
						<key>title</key>
						<string>Travelocity</string>
					</dict>
					<key>URLString</key>
					<string>http://www.travelocity.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.dasreiseportal.de/</string>
						<key>title</key>
						<string>Das Reiseportal</string>
					</dict>
					<key>URLString</key>
					<string>http://www.dasreiseportal.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.marcopolo.de/</string>
						<key>title</key>
						<string>Marco Polo</string>
					</dict>
					<key>URLString</key>
					<string>http://www.marcopolo.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.citygates.de/</string>
						<key>title</key>
						<string>citygates</string>
					</dict>
					<key>URLString</key>
					<string>http://www.citygates.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.polyglott.de/</string>
						<key>title</key>
						<string>Polyglott</string>
					</dict>
					<key>URLString</key>
					<string>http://www.polyglott.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.viamichelin.com/</string>
						<key>title</key>
						<string>ViaMichelin</string>
					</dict>
					<key>URLString</key>
					<string>http://www.viamichelin.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Reisen</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.wetteronline.de/</string>
						<key>title</key>
						<string>WetterOnline</string>
					</dict>
					<key>URLString</key>
					<string>http://www.wetteronline.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mapquest.de/</string>
						<key>title</key>
						<string>MapQuest</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mapquest.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.auto.de/</string>
						<key>title</key>
						<string>Auto.de</string>
					</dict>
					<key>URLString</key>
					<string>http://www.auto.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.gesundheitscout24.de/</string>
						<key>title</key>
						<string>Gesundheit Scout24</string>
					</dict>
					<key>URLString</key>
					<string>http://www.gesundheitscout24.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.m-ww.de/</string>
						<key>title</key>
						<string>medicine worldwide</string>
					</dict>
					<key>URLString</key>
					<string>http://www.m-ww.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.gutenberg2000.de/</string>
						<key>title</key>
						<string>Projekt Gutenberg-DE</string>
					</dict>
					<key>URLString</key>
					<string>http://www.gutenberg2000.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.monster.de/</string>
						<key>title</key>
						<string>monster Karriere-Netzwerk</string>
					</dict>
					<key>URLString</key>
					<string>http://www.monster.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Hilfsmittel und Datenbanken</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Andere…</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkGroupTag</key>
	<string>12/19/2002</string>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
</dict>
</plist>
