<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/no/</string>
						<key>title</key>
						<string>Apple Norway</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.mac.com/</string>
						<key>title</key>
						<string>.Mac</string>
					</dict>
					<key>URLString</key>
					<string>http://www.mac.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.amazon.com/</string>
						<key>title</key>
						<string>Amazon</string>
					</dict>
					<key>URLString</key>
					<string>http://www.amazon.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://ebay.com/</string>
						<key>title</key>
						<string>eBay</string>
					</dict>
					<key>URLString</key>
					<string>http://ebay.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://no.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo</string>
					</dict>
					<key>URLString</key>
					<string>http://no.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.vg.no/</string>
								<key>title</key>
								<string>VG</string>
							</dict>
							<key>URLString</key>
							<string>http://www.vg.no/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.dagbladet.no/</string>
								<key>title</key>
								<string>Dagbladet</string>
							</dict>
							<key>URLString</key>
							<string>http://www.dagbladet.no/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.aftenposten.no/</string>
								<key>title</key>
								<string>Aftenposten</string>
							</dict>
							<key>URLString</key>
							<string>http://www.aftenposten.no/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.nettavisen.no/</string>
								<key>title</key>
								<string>Nettavisen</string>
							</dict>
							<key>URLString</key>
							<string>http://www.nettavisen.no/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.tv2.no/</string>
								<key>title</key>
								<string>TV2</string>
							</dict>
							<key>URLString</key>
							<string>http://www.tv2.no/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.nrk.no/</string>
								<key>title</key>
								<string>NRK</string>
							</dict>
							<key>URLString</key>
							<string>http://www.nrk.no/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.dn.no/</string>
								<key>title</key>
								<string>DN</string>
							</dict>
							<key>URLString</key>
							<string>http://www.dn.no/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.dagsavisen.no/</string>
								<key>title</key>
								<string>Dagsavisen</string>
							</dict>
							<key>URLString</key>
							<string>http://www.dagsavisen.no/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Nyheter</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Bokmerkelinje</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.vg.no</string>
						<key>title</key>
						<string>VG</string>
					</dict>
					<key>URLString</key>
					<string>http://www.vg.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.dagbladet.no</string>
						<key>title</key>
						<string>Dagbladet</string>
					</dict>
					<key>URLString</key>
					<string>http://www.dagbladet.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.aftenposten.no/</string>
						<key>title</key>
						<string>Aftenposten</string>
					</dict>
					<key>URLString</key>
					<string>http://www.aftenposten.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
					<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nettavisen.no/</string>
						<key>title</key>
						<string>Nettavisen</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nettavisen.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
					<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tv2.no/</string>
						<key>title</key>
						<string>TV2</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tv2.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nrk.no/</string>
						<key>title</key>
						<string>NRK</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nrk.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Nyheter</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://guide.apple.com/</string>
						<key>title</key>
						<string>Macintosh Products Guide</string>
					</dict>
					<key>URLString</key>
					<string>http://guide.apple.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/downloads/macosx/</string>
						<key>title</key>
						<string>Mac OS X Downloads</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/downloads/macosx/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maccentral.macworld.com/</string>
						<key>title</key>
						<string>MacCentral</string>
					</dict>
					<key>URLString</key>
					<string>http://maccentral.macworld.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.macworld.com/</string>
						<key>title</key>
						<string>Macworld</string>
					</dict>
					<key>URLString</key>
					<string>http://www.macworld.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://insidemacgames.com/</string>
						<key>title</key>
						<string>Inside Mac Games</string>
					</dict>
					<key>URLString</key>
					<string>http://insidemacgames.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://versiontracker.com/</string>
						<key>title</key>
						<string>VersionTracker</string>
					</dict>
					<key>URLString</key>
					<string>http://versiontracker.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.microsoft.com/mac/</string>
						<key>title</key>
						<string>Microsoft Mactopia</string>
					</dict>
					<key>URLString</key>
					<string>http://www.microsoft.com/mac/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://macwindows.com/</string>
						<key>title</key>
						<string>MacWindows</string>
					</dict>
					<key>URLString</key>
					<string>http://macwindows.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Mac</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nrk.no/programmer/tv/barne_tv/</string>
						<key>title</key>
						<string>NRK Barne TV</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nrk.no/programmer/tv/barne_tv/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://tv2.no/junior/</string>
						<key>title</key>
						<string>TV2 Junior</string>
					</dict>
					<key>URLString</key>
					<string>http://tv2.no/junior/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sabeltann.no/</string>
						<key>title</key>
						<string>Kanptein Sabeltann</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sabeltann.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sonymusic.no/asgeir/</string>
						<key>title</key>
						<string>Asgeir: sjefen over alle sjefer</string>
					</dict>
					<key>URLString</key>
					<string>http://www.sonymusic.no/asgeir/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http:http://www.tusenfryd.no/</string>
						<key>title</key>
						<string>Tusenfryd</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tusenfryd.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://disney.no/</string>
						<key>title</key>
						<string>Disney</string>
					</dict>
					<key>URLString</key>
					<string>http://disney.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Barn</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.vg.no/sport/</string>
						<key>title</key>
						<string>VG Sport</string>
					</dict>
					<key>URLString</key>
					<string>http://www.vg.no/sport/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.tv2.no/sport/</string>
						<key>title</key>
						<string>TV2 Sporten</string>
					</dict>
					<key>URLString</key>
					<string>http://www.tv2.no/sport/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.n3sport.no/</string>
						<key>title</key>
						<string>n3sport</string>
					</dict>
					<key>URLString</key>
					<string>http://www.n3sport.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.sportsresultater.no/</string>
						<key>title</key>
						<string>Sportsresultater.no </string>
					</dict>
					<key>URLString</key>
					<string>http://www.sportsresultater.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://no.sports.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo Sport</string>
					</dict>
					<key>URLString</key>
					<string>http://no.sports.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Sport</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.kulturnett.no/</string>
						<key>title</key>
						<string>Kulturnett</string>
					</dict>
					<key>URLString</key>
					<string>http://www.kulturnett.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.oslopro.no/</string>
						<key>title</key>
						<string>Oslo Promotion</string>
					</dict>
					<key>URLString</key>
					<string>http://www.oslopro.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.nrk.no/underholdning/</string>
						<key>title</key>
						<string>NRK Underholdning</string>
					</dict>
					<key>URLString</key>
					<string>http://www.nrk.no/underholdning/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.aftenposten.no/kul_und/</string>
						<key>title</key>
						<string>Aftenposten Kultur</string>
					</dict>
					<key>URLString</key>
					<string>http://www.aftenposten.no/kul_und/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.origo.no/underholdning/</string>
						<key>title</key>
						<string>Origo</string>
					</dict>
					<key>URLString</key>
					<string>http://www.origo.no/underholdning/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/trailers/</string>
						<key>title</key>
						<string>QuickTime Movie Trailers</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/trailers/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.visitnorway.com/no/generert/Underholdning__uteliv_og_server/</string>
						<key>title</key>
						<string>Visit Norway</string>
					</dict>
					<key>URLString</key>
					<string>http://www.visitnorway.com/no/generert/Underholdning__uteliv_og_server/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.humorweb.no/</string>
						<key>title</key>
						<string>TV-guide</string>
					</dict>
					<key>URLString</key>
					<string>http://www.humorweb.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Underholdning</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.finn.no/</string>
						<key>title</key>
						<string>Finn</string>
					</dict>
					<key>URLString</key>
					<string>http://www.finn.no</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/norwaystore/</string>
						<key>title</key>
						<string>Apple Store Norge</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/norwaystore/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.qxl.no/</string>
						<key>title</key>
						<string>QXL</string>
					</dict>
					<key>URLString</key>
					<string>http://www.qxl.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://no.kelkoo.com/</string>
						<key>title</key>
						<string>Kelkoo</string>
					</dict>
					<key>URLString</key>
					<string>http://no.kelkoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.shoppingsiden.no/</string>
						<key>title</key>
						<string>Shoppingsiden</string>
					</dict>
					<key>URLString</key>
					<string>http://www.shoppingsiden.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.interflora.no/</string>
						<key>title</key>
						<string>Interflora</string>
					</dict>
					<key>URLString</key>
					<string>http://www.interflora.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.hotels-oslo.com/shops.html</string>
						<key>title</key>
						<string>Oslo Shopping guide</string>
					</dict>
					<key>URLString</key>
					<string>http://www.hotels-oslo.com/shops.html</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Shopping</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.billettservice.no</string>
						<key>title</key>
						<string>Billettservice </string>
					</dict>
					<key>URLString</key>
					<string>http://www.billettservice.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.reisefeber.no/</string>
						<key>title</key>
						<string>Reisefeber</string>
					</dict>
					<key>URLString</key>
					<string>http://www.reisefeber.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www2.filmweb.no/</string>
						<key>title</key>
						<string>Filmweb</string>
					</dict>
					<key>URLString</key>
					<string>http://www2.filmweb.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.restplass.no/</string>
						<key>title</key>
						<string>Restplass</string>
					</dict>
					<key>URLString</key>
					<string>http://www.restplass.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.maporama.com/</string>
						<key>title</key>
						<string>Maporama</string>
					</dict>
					<key>URLString</key>
					<string>http://www.maporama.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.visitnorway.com/no/generert/Underholdning__uteliv_og_server/</string>
						<key>title</key>
						<string>Visit Norway</string>
					</dict>
					<key>URLString</key>
					<string>http://www.visitnorway.com/no/generert/Underholdning__uteliv_og_server/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Reise</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.gulesider.no/</string>
						<key>title</key>
						<string>Gulesider</string>
					</dict>
					<key>URLString</key>
					<string>http://www.gulesider.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://dnb.no/dnbmarkets</string>
						<key>title</key>
						<string>DNB Markets</string>
					</dict>
					<key>URLString</key>
					<string>http://dnb.no/dnbmarkets</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://tux1.aftenposten.no/kart/</string>
						<key>title</key>
						<string>Aftenposten Kart</string>
					</dict>
					<key>URLString</key>
					<string>http://tux1.aftenposten.no/kart/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.doktoronline.no/</string>
						<key>title</key>
						<string>Doktor Oline</string>
					</dict>
					<key>URLString</key>
					<string>http://www.doktoronline.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://wgate.bibsys.no/search/pub/</string>
						<key>title</key>
						<string>BIBSYS</string>
					</dict>
					<key>URLString</key>
					<string>http://wgate.bibsys.no/search/pub</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.bilnorge.no/</string>
						<key>title</key>
						<string>Bilnorge</string>
					</dict>
					<key>URLString</key>
					<string>http://www.bilnorge.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.monster.no/</string>
						<key>title</key>
						<string>Monster</string>
					</dict>
					<key>URLString</key>
					<string>http://www.monster.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>				
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.ped.lex.no/</string>
						<key>title</key>
						<string>Opplæring og utdanning</string>
					</dict>
					<key>URLString</key>
					<string>http://www.ped.lex.no/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Hjelp og tips</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Annet…</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
		</dict>
	</array>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkGroupTag</key>
	<string>12/19/2002</string>
</dict>
</plist>
